/**********************
       CONSTANTS
***********************/
@font-main: arial, sans-serif;
@font-sniff: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
@color-info: #217ac8;
@color-subhead: #3a3a3a;
@colorLightShadow: #eae7e7;
@colorLightBackground: #fcf9f9;
@color-welcome: #472d1e;

@colorBrownBackground: #463D38;
@colorFontDimmed: #6e6e6e;
@colorLineDimmed: #c3c3c3;
@colorFontDimmedL: #bababa;
@colorDanger: #cc603e;
@colorDangerShadow: rgba(252, 118, 77, 0.60);

@defaultThemeColor: @colorBrownBackground;

/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
@colorLightBrown: lighten(@defaultThemeColor, 30%);

/**********************
        MIXINS
***********************/

.header-style() {
  font-family: @font-sniff;
}

.subheader-style() {
  font-family: arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #3a3a3a;
}

.body-style() {
  font-family: arial, sans-serif !important;
  font-size: 12pt !important;
  color: @color-subhead;
}

.scroll() {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  height: auto !important;
}

.scrollContent() {
  overflow: hidden;
  position: relative;
  top: 0;
  width: auto;
}

.scrollBar() {
  overflow: auto !important;

  //container width 100% or custom width
  width: 100% !important;
}

.panel-tan() {
  background-color: #faf9ee;
  border-color: #FFFFFF;
}

.btn-custom-padding() {
  padding-left: 35px;
  padding-right: 40px;
}

.btn-icon-profile() {
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  padding: 1px 7px;
}

