/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
.gragPhotosImg {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.chooseFilesButton {
  margin-top: 1em;
}
