/**********************
       IMPORTS
***********************/
@import "elements";
@import "Functions";

/**********************
        STYLES
***********************/

.body-wrapper {

}

.home-height {
}

.home-wrapper {
  background: url("../../img/jumbotron-background.png") no-repeat top center;
  z-index: 100;
  width: 90%;
  //  min-width: 585px;
  text-align: center;
  height: 500px !important;
  margin: 0 auto 399px;
}

.body-content {
  background: white !important;
  z-index: 120;
}

.main-content-home {
  background: url("../../img/home/landing-home.png") repeat;
  height: 100%;
  position: relative;
  bottom: 0px;
}

.home-jumbotron {
}

.footer-home {
  background: url("../../img/home/footer-wide.png") no-repeat bottom center;
  background-size: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 212px;
  width: 100%;
  /*  height: 100px !important;
    background: url('../../img/home/footer-home-left.png') bottom left no-repeat,
    url('../../img/home/footer-home-right.png') top right no-repeat,
    url("../../img/home/footer.png") bottom center repeat-x;*/
}

.home-buttons {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  position: absolute;
  top: 210px;
  left: 92px;
}

.home-btn-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}

.or {
  position: absolute;
  left: 290px;
  top: 248px;
  font-size: 28px;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}

.btn-looking-wrapper {
  height: 76px;
  width: 210px;
  background: url("../../img/button-left.png") no-repeat;
  font-family: @font-sniff;
  &:hover {
    background: url("../../img/button-left-hover.png") no-repeat;
  }
}

.btn-breeder-wrapper {
  height: 78px;
  width: 215px;
  background: url("../../img/button-right.png") no-repeat;
  font-family: @font-sniff;
  &:hover {
    background: url("../../img/button-right-hover.png") no-repeat;
  }
}

.btn-home {
  position: relative;
  font-size: 20px !important;
  line-height: 20px;
  color: whitesmoke !important;
  font-style: normal !important;
}

.search-bar-wrapper {

}

.menu-modal {
  margin-top: 5px !important;
}

.btn-great-search {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ad-text-sm {
  font-family: @font-sniff !important;
  font-weight: normal;
  font-size: 16px !important;
  color: @color-subhead;
}

.home-ad-wrapper {
  margin-left: 30px;
}

.find-out {
  font-family: @font-sniff !important;
  color: @color-info;
  font-size: 16px !important;
}

.p-home {
  margin-left: 30px;
}

.greatForm {
  margin-top: 20px !important;
}

.welc-text {
  font-size: 46px !important;
  font-weight: bold;
  font-family: @font-sniff;
  text-align: center;
  color: @color-welcome;
}

.help-text {
  color: @color-welcome !important;
  font-weight: bold;
  font-size: 32px;
}

.social-media-container {
  margin-left: 90px;
  margin-top: 10px;
}

.sm-home {
  display: inline-block;
  margin-left: 5px;
}

.home-links {
  .fa-caret-right {
    margin-left: 3px;
  }
  position: relative;
  top: 146px;
  left: -15px;
}

.great-links {
  .fa-caret-right {
    margin-left: 3px;
  }
}

.facebook-home {
  display: block;
  background: url("../../img/social-media/facebook-13.png") no-repeat;
  width: 13px;
  height: 26px;
  &:hover {
    background: url("../../img/social-media/facebook-hover-13.png") no-repeat;
  }
}

.twitter-home {
  display: block;
  background: url("../../img/social-media/twit-24.png") no-repeat;
  width: 24px;
  height: 26px;
  &:hover {
    background: url("../../img/social-media/twit-hover-20.png") no-repeat;
  }
}

.pinterest-home {
  display: block;
  background: url("../../img/social-media/pin-18.png") no-repeat;
  width: 18px;
  height: 23px;
  &:hover {
    background: url("../../img/social-media/pin-hover-18.png") no-repeat;
  }
}

.input-search {
  margin-right: 5px;
  margin-left: 5px;
}
