/**********************
       IMPORTS
***********************/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
/**********************
        STYLES
***********************/
.home-buttons {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: auto;
    width: 400px;
}

.home-btn-wrapper {
    padding-bottom: 10px;
}

.btn-looking-wrapper {
    height: 76px;
    width: 210px;
    background: url("../../img/button-left.png") no-repeat;
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}

.btn-looking-wrapper:hover {
    background: url("../../img/button-left-hover.png") no-repeat;
}

.btn-breeder-wrapper {
    height: 78px;
    width: 215px;
    background: url("../../img/button-right.png") no-repeat;
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}

.btn-breeder-wrapper:hover {
    background: url("../../img/button-right-hover.png") no-repeat;
}

.btn-home {
    font-size: 20px !important;
    line-height: 20px;
    color: whitesmoke !important;
    font-style: normal !important;
}

.btn-group-great {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-great-search {
    padding-top: 5px;
}

.let-top {
    margin-left: 30px;
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif !important;
    font-size: 16px !important;
    color: #3a3a3a;
}

.find-out {
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif !important;
    color: #217ac8;
    font-size: 16px !important;
}

.p-home {
    margin-left: 30px;
}

.greatForm {
    margin-top: 20px !important;
}

.welc-text {
    font-size: 46px !important;
    font-weight: bold;
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
    text-align: center;
    margin-top: 60px !important;
    margin-bottom: 5px;
    color: #472d1e;
}

.help-text {
    color: #472d1e !important;
    font-weight: bold;
    font-size: 32px;
    margin-top: 0px;
}

.home-wrapper {
    background: url("../../img/Landing_background.png") no-repeat;
    width: 1200px;
    padding-top: 70px !important;
    padding-bottom: 230px !important;
    margin-bottom: -134px;
}

.homeJumbo {
    height: 486px !important;
    padding-bottom: 30px !important;
    background: url("../../img/jumbotron-background.png") no-repeat;
}

.social-media-container {
    margin-left: 90px;
    margin-top: 10px;
}

.sm-home {
    display: inline-block;
    margin-left: 5px;
}
