/**********************
       IMPORTS
***********************/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
/**********************
        STYLES
***********************/
.home-wrapper {
  padding-top: 70px !important;
  padding-bottom: 230px !important;
}
.ball {
  position: relative;
  top: 356px;
  left: 140px;
}
.left-side-home {
  background: url("../img/home/left-grass-home.png") repeat-y;
  height: 1100px !important;
}
.right-side-home {
  background: url("../img/home/right-grass-home.png") repeat-y;
  height: 1100px !important;
}
.fill-grass {
  background: url("../img/home/landing_home.png");
  height: 1100px;
}
.collar-home {
  background: url("../../img/home/collar-pattern.png") repeat-x;
  height: 58px;
  margin-bottom: -12px;
}
.footer-home {
  height: 100px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  bottom: 0px !important;
}
.foot-left {
  background: url("../../img/home/foot-home-left.png") 0 0 no-repeat;
  height: 125px;
}
.foot-right {
  background: url("../../img/home/footer-home-right.png") 0 0 no-repeat;
  height: 125px;
}
.fill-footer {
  background: url("../../img/home/footer.png") repeat-x;
  height: 125px;
}
.home-buttons {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  position: absolute;
  top: 210px;
  left: 92px;
}
.home-btn-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}
.or {
  position: absolute;
  left: 290px;
  top: 248px;
  font-size: 28px;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}
.btn-looking-wrapper {
  height: 76px;
  width: 210px;
  background: url("../../img/button-left.png") no-repeat;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}
.btn-looking-wrapper:hover {
  background: url("../../img/button-left-hover.png") no-repeat;
}
.btn-breeder-wrapper {
  height: 78px;
  width: 215px;
  background: url("../../img/button-right.png") no-repeat;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}
.btn-breeder-wrapper:hover {
  background: url("../../img/button-right-hover.png") no-repeat;
}
.btn-home {
  position: relative;
  font-size: 20px !important;
  line-height: 20px;
  color: whitesmoke !important;
  font-style: normal !important;
}
.menu-modal {
  margin-top: 5px !important;
}
.btn-great-search {
  margin-top: 15px;
  margin-bottom: 5px;
}
.ad-text-sm {
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif !important;
  font-weight: normal;
  font-size: 16px !important;
  color: #3a3a3a;
}
.home-ad-wrapper {
  margin-left: 30px;
}
.find-out {
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif !important;
  color: #217ac8;
  font-size: 16px !important;
}
.p-home {
  margin-left: 30px;
}
.greatForm {
  margin-top: 20px !important;
}
.welc-text {
  font-size: 46px !important;
  font-weight: bold;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
  text-align: center;
  margin-top: 60px !important;
  margin-bottom: 5px;
  color: #472d1e;
}
.help-text {
  color: #472d1e !important;
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
}
.homeJumbo {
  height: 486px !important;
  padding-bottom: 30px !important;
  background: url("../../img/jumbotron-background.png") no-repeat;
}
.social-media-container {
  margin-left: 90px;
  margin-top: 10px;
}
.sm-home {
  display: inline-block;
  margin-left: 5px;
}
.home-links {
  position: relative;
  top: 146px;
  left: -15px;
}
.home-links .fa-caret-right {
  margin-left: 3px;
}
.great-links .fa-caret-right {
  margin-left: 3px;
}
.facebook-home {
  display: block;
  background: url("../../img/social-media/facebook-13.png") no-repeat;
  width: 13px;
  height: 26px;
}
.facebook-home:hover {
  background: url("../../img/social-media/facebook-hover-13.png") no-repeat;
}
.twitter-home {
  display: block;
  background: url("../../img/social-media/twit-24.png") no-repeat;
  width: 24px;
  height: 26px;
}
.twitter-home:hover {
  background: url("../../img/social-media/twit-hover-24.png") no-repeat;
}
.pinterest-home {
  display: block;
  background: url("../../img/social-media/pin-18.png") no-repeat;
  width: 18px;
  height: 23px;
}
.pinterest-home:hover {
  background: url("../../img/social-media/pin-hover-18.png") no-repeat;
}
.input-search {
  margin-right: 5px;
  margin-left: 5px;
}
