/**********************
       IMPORTS
***********************/
@import "elements";
@import "Functions";

/**********************
        STYLES
***********************/

.btn-looking {
  font-family: @font-sniff;
  font-size: 22px !important;
  color: whitesmoke !important;
  font-weight: normal !important;
}

.let {
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 13px !important;
  margin-bottom: 5px !important;
}

.letTop {
  margin-top: 20px !important;
}

.letTopHome {
  margin-top: 90px !important;
}

.findOut {
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 13px !important;
}

.greatForm {
  margin-top: 20px !important;
}

.howText {
  font-style: italic !important;
  text-align: center !important;
}

.welcText {
  font-style: italic !important;
  text-align: center !important;
  font-size: 42px !important;
}

.welcomeCont {
  margin-top: 110px !important;
  min-width: 320px;
  display: block;
}

.welcomeGrid {
  min-width: 320px !important;
}

.homeJumbo {
  min-height: 435px !important;
  padding-bottom: 30px !important;
}
