/**********************
       IMPORTS
***********************/
@import "elements";
@import "functions";

/**********************
        STYLES
***********************/

.home-inner-content {
  width: 1200px;
  margin: 0px auto;
}

.home-wrapper {
  background: url("../../img/jumbotron-background.png") no-repeat top center;
  z-index: 100;
  width: 585px;
  height: 500px !important;
  margin: 0 auto 399px;
}

.home-text-wrapper {
  position: relative;
  padding: 75px 20px 30px 20px;
}

.main-content-wrapper {
  padding: 200px 0px;
  margin: 0 auto;
}

.ball-wrapper {
  position: absolute;
  left: 170px;
  top: 520px;
}

.collar {
  height: 48px;
  width: 100%;
  position: relative;
  left: 0px;
  background: url("../../img/home/collar-pattern.png") 0 0 repeat-x;
}

.body-content {
  background: white;
  z-index: 120;
}

.left-side-home {
  background: url("../../img/home/left-grass-home.png") repeat-y;
  height: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

.left-border {
  background: url("../../img/home/left-border-pattern.png") repeat-y;
  width: 12px;
  height: 3000px;
  position: relative;
}

.right-border {
  background: url("../../img/home/right-border-pattern.png") repeat-y;
  right: 15px;
  float: right;
  width: 12px;
  height: 3000px;
  position: relative;
}

.main-content-fill {
  background: url("../../img/home/landing-home.png") repeat;
  height: 100%;
  position: relative;
}


.home-btn-wrapper {
  width: 210px;
  margin: 24px auto 0px auto;
}

.form-find-puppy {
  .form-group {
    margin-bottom: 5px;
  }
}

.or-text {
  position: absolute;
  left: 252px;
  top: 20px;
  z-index: 99;
  font-size: 28px;
  font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif;
}

.btn-looking-wrapper {
  height: 76px;
  width: 210px;
  background: url("../../img/button-left.png") no-repeat;
  font-family: @font-sniff;
  &:hover {
    background: url("../../img/button-left-hover.png") no-repeat;
  }
}

.btn-breeder-wrapper {
  height: 76px;
  width: 215px;
  background: url("../../img/button-right.png") no-repeat;
  font-family: @font-sniff;
  &:hover {
    background: url("../../img/button-right-hover.png") no-repeat;
  }
}

.btn-home {
  position: relative;
  font-size: 20px !important;
  line-height: 20px;
  color: whitesmoke !important;
  font-style: normal !important;
}

.menu-modal {
  margin-top: 5px !important;
}

.btn-great-search {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ad-text-sm {
  font-family: @font-sniff !important;
  font-weight: normal;
  font-size: 16px !important;
  color: @color-subhead;
}

.ul-home-buttons {
  position: relative;
  margin-bottom: 0px;
  margin-top: 24px;
}

.home-ad-wrapper {
  position: relative;
  left: 70px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.social-home-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 65px;
  padding: 10px;
}

.find-out {
  font-family: @font-sniff !important;
  color: @color-info;
  font-size: 16px !important;
  &:hover
  &:active
  &:focus {
    text-decoration: none !important;
  }
}

.p-home {
  margin-left: 30px;
}

.greatForm {
  margin-top: 20px !important;
}

.welc-text {
  font-size: 46px !important;
  font-weight: bold;
  font-family: @font-sniff;
  text-align: center;
  color: @color-welcome;
}

.help-text {
  color: @color-welcome !important;
  font-weight: bold;
  font-size: 32px;
}

.social-media-container {
  margin-left: 90px;
  margin-top: 10px;
}

.sm-home {
  display: inline-block;
  margin-left: 5px;
}

.home-links {
  .fa-caret-right {
    margin-left: 3px;
  }
  position: relative;
  top: 146px;
  left: -15px;
}

.home-links-wrapper {
  position: relative;
}

.home-links-content {
  position: absolute;
  width: 100%;
  top: 375px;
}

.great-links {
  .fa-caret-right {
    margin-left: 3px;
  }
}

.facebook-home {
  display: block;
  background: url("../../img/social-media/facebook-13.png") no-repeat;
  width: 13px;
  height: 26px;
  &:hover {
    background: url("../../img/social-media/facebook-hover-13.png") no-repeat;
  }
}

.twitter-home {
  display: block;
  background: url("../../img/social-media/twit-24.png") no-repeat;
  width: 24px;
  height: 26px;
  &:hover {
    background: url("../../img/social-media/twit-hover-20.png") no-repeat;
  }
}

.pinterest-home {
  display: block;
  background: url("../../img/social-media/pin-18.png") no-repeat;
  width: 18px;
  height: 23px;
  &:hover {
    background: url("../../img/social-media/pin-hover-18.png") no-repeat;
  }
}

.input-search {
  margin-right: 5px;
  margin-left: 5px;
}
