/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";

/**********************
    =Admin Panel
***********************/
.users-tab-content {
  padding: 15px;
}

.user-table-content {
  td {
    padding: 5px;
  }
  th {
    padding-right: 15px;
  }
}

