/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";
@import "animate";
@import "ng-animation";

/**********************
     Cover
***********************/
.col-cover {
  padding-left: 0px;
  padding-right: 0px;
}

.cover-row {
  height: 465px !important;
}

.profile-content {
  margin-top: -100px !important;
}

.uploadCoverBtn {
  position: absolute;
  top: 290px;
  left: 225px;
  font-size: 13px;
  padding: 4px 5px;
}

.coverWrapper {
  position: relative;
}

.btnEditMainPic {
  position: absolute !important;
  top: 125px !important;
  left: 25px !important;
  margin-right: 0px !important;
  font-size: 13px;
  padding: 4px 5px;
  margin: 10px 0px 0px 5px !important;
}

.profileMainPic {
  position: absolute;
  z-index: 99;
  top: 220px !important;
  left: 30px;
}

/**********************
 Social Media
***********************/
.socialMediaSection {
  position: absolute;
  top: 180px;
  left: -33px;
  z-index: 2;
  background-color: whitesmoke;
  padding: 10px 5px 0px 7px;
  border-top: 3px #dcdcdc solid;
  border-left: 3px #dcdcdc solid;
  border-bottom: 3px #dcdcdc solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sm-cover {
  padding-bottom: 7px;
  padding-top: 7px;
}

.main-row {
  margin-top: -45px;
}

.facebook-cover {
  display: block;
  background: url("../../img/social-media/facebook-13.png") no-repeat;
  width: 13px;
  height: 26px;
  &:hover {
    background: url("../../img/social-media/facebook-hover-13.png") no-repeat;
  }
}

.twitter-cover {
  display: block;
  background: url("../../img/social-media/twit-20.png") no-repeat;
  width: 20px;
  height: 17px;
  &:hover {
    background: url("../../img/social-media/twit-hover-20.png") no-repeat;
  }
}

.pinterest-cover {
  display: block;
  background: url("../../img/social-media/pin-18.png") no-repeat;
  width: 18px;
  height: 23px;
  &:hover {
    background: url("../../img/social-media/pin-hover-18.png") no-repeat;
  }
}
