/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
/**********************
  FILE UPLOAD BUTTON
***********************/
.fileContainer {
  overflow: hidden;
  position: relative;
}
.fileContainer [type=file] {
  display: block;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.chooseFilesButton {
  margin-left: 5px;
  width: 110px;
  height: 40px;
}
/**********************
   ADD NEW GALLERY
***********************/
.panel-file-upload {
  padding: 1.7em;
}
.dropFilesHere {
  border: 2px #c3c3c3 dashed;
  min-height: 100px;
}
.dragPhotosImg {
  margin-top: 2.5em;
  margin-bottom: 1.4em;
}
.addNewGalleryLink {
  padding: 1.1em 1.1em 1.2em;
}
.h4-addNewGallery {
  color: #6e6e6e;
}
.inputEmpty {
  border: 1px solid red !important;
}
.inputEmpty {
  border: 1px solid red !important;
}
.fa-browse-btn {
  margin-right: 5px;
}
