/**********************
       IMPORTS
***********************/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
/**********************
    For Breeders Page
***********************/
.sniff-label-warning {
    padding: 10px 50px !important;
    border-radius: 0px !important;
    font-size: 26px !important;
    font-family: 'Bangers', cursive, "Futura-CondensedExtraBold", sans-serif !important;
    font-weight: normal !important;
}
