/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";

/**********************
    For Breeders Page
***********************/
.sniff-label-warning {
  padding: 5px 0px !important;
  width: 650px;
  display: inline-block;
  border-radius: 2px !important;
  font-size: 26px !important;
  font-family: @font-sniff !important;
  font-weight: normal !important;
  background-color: orange;
}

.label-wrapper {
  margin-top: 25px !important;
  margin-bottom: 25px;
}

.text-info {
  color: @color-info;
}

.text-warning {
  color: orange !important;
}

.h-subsctriptions {
  font-family: @font-sniff;
  color: @color-info !important;
}

.plans-cell {
  width: 220px;
}

.table-for-breeders {
  td {
    span {
      font-size: 12px;
    }
  }
  p {
    margin-bottom: 0px;
    font-size: 12px !important;
    font-style: italic;
    font-weight: bold;
  }
  input {
    font-size: 12px !important;
  }
  span {
    font-size: 12px !important;
  }
}

.table > thead > tr > th {
  padding: 5px !important;
}

.h-price {
  font-size: 13px !important;
  font-weight: bold !important;
  font-style: normal !important;
}

.btn-tryit {
  width: 80px;
}

.comment {
  font-family: @font-main;
  font-size: 12px;
  color: @colorFontDimmedL !important;
}

.th-plans-table {
  font-family: @font-sniff;
  font-size: 20px !important;
  font-weight: normal !important;
  width: 180px !important;
}

.h-compare {
  font-size: 18px;
  color: @color-subhead !important;
}
