/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";

/**********************
        Photos
***********************/
.puppyPic {
  margin-top: 10px;
  margin-bottom: 10px;
}

.puppyPicWrapper {
  padding-top: 10px !important;
}

.btn-del {
  .btn-icon-profile()
}

.btn-share {
  .btn-icon-profile()
}

.btn-share {
}

.btn-del-pic {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  padding: 3px 7px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.btn-edit {
  padding: 1px 7px;
}

.btn-save {
  margin-top: 4px !important;
  margin-bottom: 5px !important;
  margin-right: 0px !important;
  padding: 1px 7px;
}

.btn-save-litter {

}
