/**********************
       IMPORTS
***********************/
@import "LessComponents/Functions";

hr {
  border-top-color: @colorFontDimmedL !important;
}

.dl-horizontal dt {
  text-align: left;
}

.fa-fw {
  font-size: .9em !important;
}

.form-editPersonal {
  margin-left: 5px !important;
}

.myDetails-alert {
  .panel-tan();
  color: @colorFontDimmed;
  box-shadow: 0px -3px 5px  @colorLightShadow;
}

.myDetailsFont {
  font-style: italic;
  font-weight: bold;
}

.myDetailsFormGroup {
  margin-left: 5px !important;
  margin-bottom: 0em;
}

.myDetailsForm {
  line-height: 1.1em;
}

.myDetailsHeader {
  font-size: 1.7em;
  font-weight: bold;
}

.myDetailsInput {
  margin-top: .5em;
  margin-bottom: .5em;
}

.myProfileSave {
  margin-top: 10px;
}
