/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";
@import "animate";
@import "animate-view";
@import "file-upload";
@import "mydetails";
@import "photos";
@import "puppies";
@import "ng-animation";

/*************************
  BOOTSTRAP CUSTOM STYLES
**************************/

.btn {
  margin: 3px !important;
}

.btn-primary {
  .gradient(#2279c1, #2279c1, #498cc6);
  //  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#498cc6), to(#2779c1));

  &:hover {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
  &:active {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
}

.cursor-p {
  cursor: pointer;
}

.container .jumbo-custom {
  background-color: #f6f6f6 !important;
  border: 1px #ebebeb solid !important;
  padding: 20px;
}

hr {
  border-top-color: @colorFontDimmedL !important;
}

h5 {
  font-weight: bold;
}

.right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.fa-fw {
  font-size: .9em !important;
}

.light-gray {
  color: @colorFontDimmed;
}

/**********************
     Profile Form
***********************/
.profileContWrapper {
  margin-top: 20px;
}

.navProfileWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profileMainPic {
  position: absolute;
  overflow: hidden;
  top: -85px;
  left: 30px;
}

.profileSideMenu {
  padding-top: 90px;
}

.form-editPersonal {
  margin-left: 5px !important;
}

.textMuted {
  font-size: .9em;
  color: @colorFontDimmedL;
}

.maxSymb {
  font-size: .9em;
}

.label-subhead {
  margin-right: 15px;
}

.custom-col {
  margin-right: 15px;
}

.h5Custom {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.jumbotron p {
  font-size: 14px;
}

/**********************
 Social Media
***********************/
.socialMediaSection {
  position: absolute;
  overflow: hidden;
  top: 225px;
  left: -32px;
  padding-right: 5px;
  padding-left: 7px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-top: 3px #dcdcdc solid;
  border-left: 3px #dcdcdc solid;
  border-bottom: 3px #dcdcdc solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

