/**********************
       IMPORTS
***********************/
/**********************
       CONSTANTS
***********************/
/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/
/**********************
        MIXINS
***********************/
/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: relative;
}
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.shuffle-animation.ng-leave-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
/*#endregion*/
.cont {
  position: relative;
  min-height: 1000px;
  overflow: hidden;
}
.well-photos {
  background: #efefef;
  padding: 5px;
  margin: 5px;
}
.sp {
  left: 40%;
  top: 100px;
  position: relative;
  color: #5bc0de;
  font-size: 2em;
}
/**********************
    MIXINS
***********************/
.slide-left.ng-enter {
  z-index: 100;
  left: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-left.ng-enter.ng-enter-active {
  left: 0;
  right: 0;
}
.slide-left.ng-leave {
  z-index: 101;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-left.ng-leave.ng-leave-active {
  left: -100%;
}
.slide-right.ng-enter {
  z-index: 100;
  left: -100%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-right.ng-enter.ng-enter-active {
  left: 0;
}
.slide-right.ng-leave {
  z-index: 101;
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 100%;
}
.slide-right.ng-leave.ng-leave-active {
  left: 100%;
}
.cursor-p {
  cursor: pointer;
}
hr {
  border-top-color: #bababa !important;
}
h5 {
  font-weight: bold;
}
.right {
  text-align: right;
}
.italic {
  font-style: italic;
}
.dl-horizontal dt {
  text-align: left;
}
.fa-fw {
  font-size: .9em !important;
}
.light-gray {
  color: #bababa;
}
.form-editPersonal {
  margin-left: 5px !important;
}
.myDetails-alert {
  background-color: #faf9ee;
  border-color: #FFFFFF;
  color: #444444;
  box-shadow: 0px -3px 5px #cccaca;
}
.myDetailsFont {
  font-style: italic;
  font-weight: bold;
}
.myDetailsFormGroup {
  margin-left: 5px !important;
  margin-bottom: 0em;
}
.myDetailsForm {
  line-height: 1.1em;
}
.myDetailsHeader {
  font-size: 1.7em;
  font-weight: bold;
}
.myDetailsInput {
  margin-top: .5em;
  margin-bottom: .5em;
}
.profileSave {
  margin-top: 10px;
}
/**********************
        Form
***********************/
.textMuted {
  font-size: .9em;
  color: #bababa;
}
.label-subhead {
  margin-right: 15px;
}
.glyphicon-col {
  margin-right: 15px;
}
.h5Custom {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 5px;
}
.thumbExample {
  height: 130px;
  width: 130px;
  border: 1px #686868 dashed;
  line-height: 110px;
}
.btn-browse {
  display: inline-block !important;
  vertical-align: middle !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.fa-browse-btn {
  margin-right: 5px;
}
.btn {
  margin: 3px !important;
}
/**********************
        Photos
***********************/
.puppyPic {
  margin-top: 10px;
  margin-bottom: 10px;
}
.puppyPicWrapper {
  padding-top: 10px !important;
}
.btn-del {
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  padding: 1px 7px;
}
.btn-del-pic {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
  margin-right: 5px !important;
  padding: 3px 7px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.btn-edit {
  padding: 1px 7px;
}
.btn-save {
  margin-top: 4px !important;
  margin-bottom: 5px !important;
  margin-right: 0px !important;
  padding: 1px 7px;
}
.panel-file-upload {
  padding: 1.7em;
}
.dropFilesHere {
  border: 2px #c3c3c3 dashed;
  min-height: 100px;
}
.dragPhotosImg {
  margin-top: 2.5em;
  margin-bottom: 1.4em;
}
.h4-addNewGallery {
  color: #444444;
}
.chooseFilesButton {
  margin-top: 1em;
}
.addNewGalleryLink {
  padding: 1.1em 1.1em 1.2em;
}
.chooseFilesCentered {
  display: inline-block !important;
  vertical-align: middle !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.inputEmpty {
  border: 1px solid red !important;
}
.inputEmpty {
  border: 1px solid red !important;
}
