/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";
@import "LessComponents/home";
@import "animate";
@import "animate-view";
@import "ng-animation";
@import "file-upload";
@import "mydetails";
@import "photos";
@import "puppies";
@import "for-breeders";
@import "messages";

/*************************
  BOOTSTRAP CUSTOM STYLES
**************************/

body {
  font-family: arial, sans-serif !important;
  font-size: 12pt !important;
  color: #3a3a3a;
}

.left-side {
  background: url("../img/left-grass-pattern.png") repeat-y;
  height: 2000px;
}

.right-side {
  background: url("../img/right-grass-pattern.png") repeat-y;
  height: 2000px;
}

.body-content {
  background-color: white;
  padding: 0px;
}

.container {
  width: 1200px !important;

}

.sniff-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -100px;
}

.sniff-content-wrapper {
  //  min-height: 1400px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px !important;
}

.sniff-main-content {
}

.btn-primary {
  .gradient(#2279c1, #2279c1, #498cc6);
  //  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#498cc6), to(#2779c1));

  &:hover {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }

  &:active {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
  &:focus {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #4b95d6 !important;
  border-color: #4389cf !important;
}

.cursor-p {
  cursor: pointer;
}

.jumbotron {
  p {
    font-family: arial, sans-serif !important;
    font-size: 12px !important;
    color: @color-subhead !important;
  }
}

.container .jumbo-custom {
  //  min-height: 900px;
  background-color: white !important;
  border: 1px #ebebeb solid !important;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
}

hr {
  border-top-color: @colorFontDimmedL !important;
}

label {
  margin-bottom: 0px;
  margin-right: 5px;
}

/**********************
 Font Styles
***********************/
.sniff-menu {
  font-family: @font-sniff;
  font-size: 18px;
  color: @color-subhead !important;
  &:hover {
    color: @color-info !important;
  }
  &:active {
    color: @color-info !important;
  }
  &:focus {
    color: @color-info !important;
  }
}

.sniff-profile-menu {
  font-family: @font-sniff;
  font-weight: normal !important;
  font-size: 18px;
  color: @color-subhead;
}

.hello-user {
  font-weight: bold;
  font-size: 14px;
}

.sniff-head {
  font-family: @font-sniff;
  font-size: 22px;
  color: @color-subhead !important;
  font-weight: normal;
}

.sniff-head-sm {
  font-family: @font-sniff;
  font-size: 18px !important;
  color: @color-subhead !important;
  font-weight: normal !important;
}

h3 {
  font-family: @font-sniff;
  font-size: 22px;
  color: @color-subhead !important;
}

.sniff-head-info {
  font-family: @font-sniff;
  font-weight: normal !important;
  font-size: 22px;
  color: @color-info !important;
}

h4 {
  .subheader-style();
}

.sniff-subhead {
  .subheader-style();
}

.form-control {
  font-size: 12px !important;
  font-family: arial, sans-serif;
}

input {
  margin-top: 5px;
}

textarea {
  font-size: 12px !important;
  margin-top: 5px;
  font-family: arial, sans-serif;
}

.right {
  text-align: right;
}

.italic {
}

.fa-fw {
  font-size: .9em !important;
}

.light-gray {
  color: @colorFontDimmed;
}

.no-l-pad {
  padding-left: 0px;
}

/**********************
 user profile
***********************/
.nav-profile-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @colorLightShadow;
}

.profile-aside {
  background-color: @colorLightBackground;
  //  min-height: 1933px;
}

.content-wrapper {
  padding-top: 20px;
}

/**********************
     =Profile Form
***********************/

.a-profile-nav {
  padding-right: 0px !important;
}

.form-editPersonal {
  margin-left: 5px !important;
}

.textMuted {
  font-size: 12px;
  color: @colorFontDimmedL;
}

.maxSymb {
  font-size: .9em;
}

.custom-col {
  margin-right: 15px;
}

.h5Custom {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.collar {
  height: 68px;
  background: url("../img/collar.png") no-repeat;
  margin-top: -12px;
  margin-bottom: -12px;
}

/**********************
 search bar
***********************/
.search-bar {
  padding: 25px;
  height: 68px;
}

.search-bar-content {
  background-color: #3d3d3b;
}

.quick-search {
  font-family: @font-sniff;
  font-size: 22px;
  color: whitesmoke;
  margin-left: 10px;
  margin-right: 10px;
}

.btn-fetch {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-sniff-content {
  background-color: white;
}

.navbar-sniff {
  background-color: #FFFFFF;
  margin-bottom: 0px;
}

.search-bar-form {
  width: 1100px;
  margin: 0px auto;
}

.btn-group-fetch {
  margin-left: 10px;
  margin-right: 10px;
}

.quick-search-toggle {
  border-color: #a9a7a7;
  .gradient(#b6b5b5, #8a8888, #b6b5b5);
}

.btn-search-drop, .btn-search-drop:hover, .btn-search-drop:active, .btn-search-drop:focus {
  font-family: arial, sans-serif;

  .gradient(#b6b5b5, #8a8888, #b6b5b5);
  border-color: #a9a7a7;
  color: whitesmoke;
  font-style: 14px;
  font-weight: 700;
  width: 250px;
  text-align: left;
}

.search-dropdown {
  width: 250px !important;
}

.caret {
  color: whitesmoke;
}

.btn-default {
  font-weight: 700 !important;
  border-color: #a9a7a7;
  .gradient(#b6b5b5, #8a8888, #b6b5b5);
  color: whitesmoke;
  font-weight: 600;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  .gradient(#b6b5b5, #a7a6a6, #b6b5b5);
}

/**********************
 sidebar
***********************/
.monthName {
  font-weight: 700;
  font-size: 58px !important;
  font-family: 'Georgia', 'Courier New', Courier, 'Nimbus Mono L', monospace !important;
}

.meet-ups {
  font-size: 18px !important;
  font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace !important;
}

/**********************
 footer
***********************/
.home-background {
}

.sniff-footer-menu {
  font-family: @font-sniff;
  font-size: 18px;
  color: whitesmoke;
  font-weight: normal !important;
  &:hover {
    color: @color-info !important;
  }
  &:active {
    color: @color-info !important;
  }
  &:focus {
    color: @color-info !important;
  }
}

.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
  .nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.footer-container {
  padding-left: 7px;
  padding-right: 7px;
  color: whitesmoke;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  a {
    color: whitesmoke;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    color: @color-subhead;
  }
}

.footer-text-container {
  margin-top: 47px;
}

.footer-background {
  position: relative;
  height: 100px;
  background: url("../img/footer-pattern.png") repeat-x;
}

.copyright {
  color: whitesmoke;
  font-family: @font-sniff;
  font-size: 18px;
  font-weight: normal !important;
  padding-left: 20px;
}

/**********************
 Authentication
***********************/
.h-sign-up {
  font-family: @font-sniff;
  font-size: 16px;
  font-weight: normal;
  color: @color-info;
}

.btn-facebook-login {
  text-align: center;
  font-weight: bold;
}

.fa-facebook {
  margin-right: 5px;
}

.btn-logout {
  cursor: pointer;
}
