/**********************
       IMPORTS
***********************/
@import "LessComponents/elements";
@import "LessComponents/Functions";
@import "LessComponents/home";
@import "animate";
@import "bootstrap-additions.min.css";
@import "animate-view";
@import "ng-animation";
@import "file-upload";
@import "mydetails";
@import "photos";
@import "puppies";
@import "for-breeders";
@import "messages";
@import "cover";
@import "adminpanel";

/*************************
  BOOTSTRAP CUSTOM STYLES
**************************/

.logo-wrapper {
  position: relative;
  margin-bottom: -97px;
  z-index: 99;
}

body {
  font-family: arial, sans-serif !important;
  font-size: 12pt !important;
  color: #3a3a3a;
}

.left-side {
  background: url("../img/left-grass-pattern.png");
  height: 2100px;
}

.right-side {
  background: url("../img/right-grass-pattern.png");
  height: 2100px;
}

.body-content {
  background-color: white;
  padding: 0px;
}

.middle-center {
  display: inline-block;
  margin: 100px;
  position: relative;
  top: 50%;
  left: 40%;
}

.container {
  width: 1200px !important;
}

.sniff-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: -100px;
}

.sniff-content-wrapper {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 14px !important;
}

.user-page-view {
  margin-left: 15px;
  width: 630px;
}

.btn {
  cursor: pointer;
}

.btn-sniff-md {
  font-family: arial, sans-serif;
  width: 130px;
  padding: 5px 3px;
  font-size: 12px;
}

.btn-primary {
  .gradient(#2279c1, #2279c1, #498cc6);
  //  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#498cc6), to(#2779c1));

  &:hover {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }

  &:active {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
  &:focus {
    background-color: #4b95d6 !important;
    border-color: #4389cf !important;
  }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #4b95d6 !important;
  border-color: #4389cf !important;
}

.cursor-p {
  cursor: pointer;
}

.profile-wrapper {
  background-color: white !important;
  margin-top: 15px;
  p {
    font-size: 14px;
  }
}

hr {
  border-top-color: @colorFontDimmedL !important;
}

label {
  margin-bottom: 0px;
  margin-right: 5px;
}

/**********************
 Font Styles
***********************/
.sniff-menu {
  font-family: @font-sniff;
  font-size: 18px;
  color: @color-subhead !important;
  &:hover {
    color: @color-info !important;
  }
  &:active {
    color: @color-info !important;
  }
  &:focus {
    color: @color-info !important;
  }
  //  background-image: url(../img/paw.png);

}

.sniff-profile-menu {
  font-family: @font-sniff;
  font-weight: normal !important;
  font-size: 18px;
  color: @color-subhead;
}

.hello-user {
  font-weight: bold;
  font-size: 14px;
}

.sniff-head {
  font-family: @font-sniff;
  font-size: 22px;
  color: @color-subhead !important;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sniff-head-sm {
  font-family: @font-sniff;
  font-size: 18px !important;
  color: @colorFontDimmed !important;
  font-weight: normal !important;
}

h3 {
  font-family: @font-sniff;
  font-size: 22px;
  margin-top: 5px;
  color: @color-subhead !important;
}

.sniff-head-danger {
  margin-top: 5px;
  font-family: @font-sniff;
  font-weight: normal !important;
  font-size: 22px !important;
  color: #a0403f !important;
  line-height: 18px;
  letter-spacing: 1px;
}

.sniff-head-info {
  margin-top: 5px;
  font-family: @font-sniff;
  font-weight: normal !important;
  font-size: 22px !important;
  color: @color-info !important;
  line-height: 18px;
  letter-spacing: 1px;
}

h4 {
  .subheader-style();
}

.breadcrumb {
  font-size: 12px;
  margin-bottom: 5px;
}

.sniff-subhead {
  .subheader-style();
}

.form-control {
  font-size: 12px !important;
  font-family: arial, sans-serif;
}

input {
  margin-top: 5px;
}

textarea {
  font-size: 12px !important;
  margin-top: 5px;
  font-family: arial, sans-serif;
}

.right {
  text-align: right;
}

.fa-fw {
  font-size: .9em !important;
}

.light-gray {
  color: @colorFontDimmed;
}

.no-l-pad {
  padding-left: 0px;
}

.no-r-pad {
  padding-right: 0px;
}

.no-pad {
  padding-right: 0px;
  padding-left: 0px;
}

.ml5 {
  margin-left: 5px;
}

.mt15 {
  margin-top: 15px;
}

.checkbox-sm {
  margin-top: 0px !important;
}

/**********************
 user profile
***********************/
.nav-profile-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @colorLightShadow;
}

.nav-profile {
  margin-left: 30px;
}

.sidebar-width {
  margin-right: -15px;
}

.profile-aside {
  background-color: @colorLightBackground;
  padding-top: 20px;
}

.profile-content {
  padding-right: 0px;
  padding-left: 0px;
}

.user-content {
  margin-top: 15px
}

.user-container {
  padding-left: 15px !important;
}

.content-wrapper {
  margin-left: -15px;
}

/**********************
     =Profile Form
***********************/
.slider-wrapper {
  padding-right: 5px;
}

.btn-wrapper {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.a-profile-nav {
  padding-right: 0px !important;
}

.nav-wrapper {
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #f5f5f5 !important;
    background-color: @color-info !important;
  }
}

.a-admin {
  color: @color-info !important;
}

.form-editPersonal {
  margin-left: 5px !important;
}

.textMuted {
  color: @colorFontDimmedL !important;
}

.maxSymb {
  font-size: .9em;
}

.custom-col {
  margin-right: 15px;
}

.h5Custom {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.collar {
  height: 68px;
  background: url("../img/collar.png") no-repeat;
  margin-top: -12px;
  margin-bottom: -12px;
}

/**********************
     =Navigation
***********************/

.active-custom {
  color: @color-info !important;
}

.active-aside {
  background-color: @colorPills !important;
  border-radius: 5px;
  a {
    color: @color-info !important;
  }
}

/**********************
 =Search bar
***********************/
.search-bar {
  padding-top: 15px;
  padding-bottom: 20px;
}

.search-bar-content {
  background-color: #3d3d3b;
}

.quick-search {
  font-family: @font-sniff;
  font-size: 26px;
  font-weight: normal;
  color: whitesmoke !important;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 7px;
}

.btn-fetch {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.sniff-collapse {
  padding-top: 10px;
}

.logo-wrapper {
  margin-left: 10px;
}

.navbar-sniff-content {
  background-color: white;
}

.navbar-sniff {
  background-color: #FFFFFF;
  margin-bottom: 0px;
}

.search-bar-form {
  width: 1100px;
  margin: 0px auto;
}

.btn-group-fetch {
  margin-left: 10px;
  margin-right: 10px;
}

/*.quick-search-toggle {
  border-color: #a9a7a7;
  .gradient(#b6b5b5, #8a8888, #b6b5b5);
}*/

/*.btn-search-drop, .btn-search-drop:hover, .btn-search-drop:active, .btn-search-drop:focus {
  font-family: arial, sans-serif;

  .gradient(#b6b5b5, #8a8888, #b6b5b5);
  border-color: #a9a7a7;
  color: whitesmoke;
  font-weight: 700;
  width: 250px;
  text-align: left;
}*/

.search-dropdown {
  width: 250px !important;
  margin: auto;
}

.btn-search-panel {

}

//.caret {
//  color: whitesmoke;
//}

/*.btn-default {
  border-color: #a9a7a7;
  .gradient(#b6b5b5, #8a8888, #b6b5b5);
  color: whitesmoke;
}*/

/*.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  .gradient(#b6b5b5, #a7a6a6, #b6b5b5);
}*/

/**********************
 sidebar
***********************/
.hCurrentLitters {
  font-size: 50px;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.check-out {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  top: 145px;
  left: 60px;
  font-weight: 700;
}

.check-out-wrapper {
  margin-top: 15px;
  position: relative;
}

.btn-edit-litters {
  position: relative;
  top: 150px;
  left: 96px;
}

.panel-ad {
  height: 220px;
  border-radius: 15px;
}

.panel-litters {
  background: url("../img/sidebar/litters2.png") no-repeat;
  width: 315px;
  height: 258px;
  position: relative;
}

.panel-ad-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.panel-body-litters {
  padding-top: 0px;
}

.click-here {
  font-weight: 700;
  color: @defaultThemeColor;
}

.monthName {
  font-weight: 700;
  font-size: 58px !important;
  font-family: 'Georgia', 'Courier New', Courier, 'Nimbus Mono L', monospace !important;
}

.meet-ups {
  font-size: 16px !important;
}

/**********************
 footer
***********************/

.sniff-footer-menu {
  font-family: @font-sniff;
  font-size: 18px;
  font-weight: normal !important;
  &:hover {
    color: @color-info !important;
  }
  &:active {
    color: @color-info !important;
  }
  &:focus {
    color: @color-info !important;
  }
}

.footer-content {
  padding-top: 15px;
  padding-bottom: 15px;
  .nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.footer-container {
  padding-left: 7px;
  padding-right: 7px;
  color: whitesmoke;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  a {
    color: whitesmoke;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    color: @color-subhead;
  }
}

.footer-text-container {
  position: relative;
  top: 45px;
}

.footer-background {
  position: relative;
  height: 100px;
  background: url("../img/footer-pattern.png") repeat-x;
}

.copyright {
  color: whitesmoke;
  font-family: @font-sniff;
  font-size: 18px;
  font-weight: normal !important;
  padding-left: 20px;
  margin-left: 10px;
}

.nav-footer {
  padding-right: 15px;
}

/**********************
 Authentication
***********************/
.looking-for {
  font-size: 14px;
}

.pass-restriction {
  font-size: 12px;
}

.p-or {
  font-size: 16px;
  font-weight: 700;
}

.h-sign-up {
  font-family: @font-sniff;
  font-size: 16px;
  font-weight: normal;
  color: @color-info !important;
}

.h-sign-up-white {
  font-family: @font-sniff;
  font-size: 16px;
  font-weight: lighter !important;
  color: #ffffff;
}

.margin-left-60 {
  margin-left: 60px;
  display: block;
}

.btn-facebook-login {
  text-align: center;
  font-weight: bold;
}

.fa-facebook {
  margin-right: 5px;
}

.btn-logout {
  cursor: pointer;
}

.input-user-name {
  margin-bottom: 15px;
  display: block;
  width: 340px;
}

.ul-login {
  line-height: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/**********************
    =SearchResult
***********************/
/*#region =Search Result*/
.searchResult {
  font-weight: bold;
}

.sortBy {
  margin-bottom: 10px;
}

.searchBreederDescription {
  padding-right: 10px;
}

.li-follow {
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

/**********************
      =Follow
***********************/
.breederName {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  font-weight: normal;
  font-size: 18px;
}

.a-name {
  color: @color-subhead;
}

.bone {
  padding: 1px !important;
}

.thPictureSmall {
  padding: 10px !important;
  margin-bottom: 10px !important;
}

.rating-container {
  vertical-align: center !important;
  padding-left: 10px;
}

.row-margin {
  margin-right: 0px;
  margin-left: 0px;
}

.no-b-margin {
  margin-bottom: 0px;
}

.no-pad-margin {
  margin: 0px !important;
  padding: 0px 5px 0px 0px;
}

////////////////////////////////////////
/* Some of these styles you can override, things like colors,
 * however some styles are required for the structure, and are critical to this module behaving properly!
 */

/* Core component styles */
.ng-image-crop {
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Each of the 3 steps in the process are contained within sections */
.ng-image-crop > section {
}

/* The cropping button */
.ng-image-crop button {
  margin-top: 10px;
}

/* The dashed cropping guideline */
.ng-image-crop .cropping-guide {
  display: block;
  background: rgba(255, 255, 255, .3);
  border: 2px dashed white;
  position: absolute;
  pointer-events: none;
}

/* The circular themed cropping guideline */
.ng-image-crop--circle .cropping-guide {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* The canvas where the user positions the image via dragging and zooming */
.ng-image-crop .cropping-canvas {
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  cursor: move;
}

/* The overlayed draggable zoom handle in the corner of the module */
.ng-image-crop .zoom-handle {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  background: rgba(255, 255, 255, 0.7);
  width: 80px;
  height: 80px;
  cursor: move;
  border-radius: 200px 50px;
}

/* The text within the zoom handle */
.ng-image-crop .zoom-handle > span {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: relative;
  top: 32px;
}

.popover-delete {
  max-width: 300px !important;
  width: 160px !important;
  padding-bottom: 15px;
}

.z-index-high {
  z-index: 999;
}

.popover-register:extend(.popover) {
  max-width: 300px !important;
  width: 300px !important;
  left: -175px !important;
}

.popover-login:extend(.popover) {
  max-width: 300px !important;
  width: 300px !important;
  left: -175px !important;
}

.popover-arrow-register {
  margin-left: 35px !important;
}

.popover-row {
  margin-right: -5px !important;
}

.popover-title {
  font-weight: bold !important;
  font-family: @font-main;
}

/**********************
     =Manage Account
***********************/
.change {
  line-height: 20px;
  width: 150px;
}

.table-invoices {
  font-size: 12px !important;
}

.btn-invoice {
  font-size: 11px !important;
  padding: 2px 10px;
}

.label-invoice {
  color: whitesmoke !important;
  font-size: 11px !important;
  padding: 2px 10px;
}

//input[type="checkbox"] {
//  display: none;
//}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../imgdir/check_radio_sheet.png) left top no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span {
  background: url(../imgdir/check_radio_sheet.png) -19px top no-repeat;
}

/**********************
 Previous Puppies
***********************/
.panel-previous-puppies {
  position: relative;
  background: url("../img/sidebar/previous-puppies.png") no-repeat;
  width: 300px;
  height: 340px;
  margin-top: 10px;
}

.previous {
  position: relative;
  width: 250px;
  top: 76px;
  left: 25px;
}

.add-previous {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 100px;
}

.btn-slider-left {
  position: absolute;
  display: block;
  width: 41px;
  height: 46px;
  bottom: 120px;
  left: -8px;
  background: url("../img/sidebar/slider-left.png") no-repeat;
}

.btn-slider-right {
  position: absolute;
  bottom: 120px;
  left: 267px;
  display: block;
  width: 41px;
  height: 46px;
  background: url("../img/sidebar/slider-right.png") no-repeat;
}

.save-previous {
  position: absolute;
  top: 100px;
}
