node_modules
dist
.tmp
!Gruntfile.js
!app/bower_components/angular-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js
!app/bower_components/angular-image-crop
.sass-cache
app/bower_components/*
.idea

app/scripts/app.js
app/scripts/controllers/*.js
app/scripts/directives/*.js
app/scripts/filters/*.js
app/scripts/models/*.js
app/scripts/services/*.js

app/styles/*.css
!app/bower_components/angular-ratings-master/angular.ratings.less
!app/bower_components/angular-ratings-master/angular.ratings.js
!app/bower_components/angular-ratings-master/angular-star.png


app/styles/sniff.css