node_modules
dist
.tmp
!Gruntfile.js
!app/bower_components/angular-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js
app/*.js
app/*.css
app/*.css.map
.sass-cache
app/bower_components/*
app/imgdir
.idea

