<div class="well well-sm" xmlns="http://www.w3.org/1999/html">
	<div class="row">
		<div class="col-sm-8">
			<h4 class="italic">ABOUT</h4>
		</div>
		<div class="col-sm-2 pull-right">
			<input type="submit" value="Save" class="btn btn-link">
		</div>
	</div>
	<form class="form" name="aboutInfo">
		<div class="form-group">
			<label class="subHeadLabel">Kennel Name:</label>
			<span class="required">Required</span>
			<input class="form-control" ng-model="ctrl.BreederProfileEdit.KennelName" type="text"/>
		</div>

		<div class="form-group">
			<label>Your Story:</label>
			<textarea rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Story">
				{{ctrl.BreederProfileEdit.Story}}
			</textarea>
		</div>

	</form>

	<div class="row">
		<div class="col-sm-8">
			<h4 class = "italic">PARENTS</h4>
		</div>
		<div class="col-sm-2 pull-right">
			<input type="submit" value="Save" class="btn btn-link">
		</div>
	</div>

	<form class="form" name="parentsInfo">
		<div class="form-group">
			<label>About Parents:</label>
			<span class="required">Required</span>
			<textarea rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Parents">
				{{ctrl.BreederProfileEdit.Parents}}
			</textarea>
		</div>

		<div class="form-group">
			<label>Boys:</label>
			<textarea rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Boys">
				{{ctrl.BreederProfileEdit.Boys}}
			</textarea>
		</div>

		<div class="form-group">
			<label>Girls:</label>
			<textarea rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Girls">
				{{ctrl.BreederProfileEdit.Girls}}
			</textarea>
		</div>

	</form>

	<form class="form" name="additionalInfo">
		<div class="row">
			<div class="col-sm-8">
				<h4 class="italic">ADDITIONAL INFO</h4>
			</div>
			<div class="col-sm-2 pull-right">
				<input type="submit" value="Save" class="btn btn-link">
			</div>
		</div>
		<div class="form-group">
			<label>Is there anything else you would like to mention?:</label>
			<textarea rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Girls">
				{{ctrl.BreederProfileEdit.Girls}}
			</textarea>
		</div>

		<div class="form-group  myProfileSave text-center">
			<a class="btn btn-default" ui-sref="^">Cancel</a>
			<a class="btn btn-warning" ui-sref="profile.about.change">Reset all fields</a>
			<input type="submit" value="Save" class="btn btn-info">
			<a class="btn btn-default" ui-sref="profile.about.change">Next Section</a>
		</div>
	</form>
</div>
