<div ng-show="isOwner">
	<ol class="breadcrumb">
		<li><a ui-sref="^">About</a></li>
		<li class="active">Edit</li>
	</ol>
	<div class="row">
		<div class="col-xs-8">
			<h4 class="sniff-head-info">ABOUT</h4>
		</div>
		<div class="col-xs-2 pull-right">
			<button class="btn pull-right btn-link"
			        ng-disabled="form.$invalid || form.$pristine"
			        ng-click="ctrl.Save(ctrl.BreederProfileEdit);form.$setPristine()">Save
			</button>
		</div>
	</div>

	<form role="form" class="form" name="form" id="form" novalidate>
		<div class="form-group has-feedback"
		     ng-class="{'has-error':form.kennel.$invalid}">
			<label for="kennel" class="sniff-subhead">Kennel Name:</label>
			<span class="textMuted">Required</span>
			<span ng-show="form.kennel.$error.maxlength"
			      class="text text-danger pull-right maxSymb">Max 250 symbols!</span>
			<input id="kennel" class="form-control"
			       name="kennel"
			       type="text"
			       placeholder="What is your Kennel Name?"
			       ng-model="ctrl.BreederProfileEdit.KennelName"
			       ng-maxlength="250"
			       required/>

			<div ng-show="form.kennel.$dirty">
				<span ng-show="form.kennel.$invalid" class="fa fa-remove form-control-feedback"></span>
				<span ng-hide="form.kennel.$invalid" class="fa fa-ok form-control-feedback"></span>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':form.story.$invalid}">
			<label for="story" class="sniff-subhead">Your Story:</label>
			<span class="textMuted">Required</span>
			<span ng-show="form.story.$invalid" class="text text-danger pull-right  maxsymb">Max 1000 symbols!</span>
			<textarea id="story" name="story" rows="5" cols="30" class="form-control"
			          ng-model="ctrl.BreederProfileEdit.Story"
			          ng-maxlength="1000"
			          required>
				{{ctrl.BreederProfileEdit.Story}}
			</textarea>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="sniff-head-info">PARENTS</h3>
			</div>
		</div>

		<div class="form-group" ng-class="{'has-error':form.parents.$invalid}">
			<label class="sniff-subhead">About Parents:</label>
			<span class="textMuted">Required</span>
			<span ng-show="form.parents.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<textarea name="parents" rows="5" cols="30" class="form-control"
			          ng-model="ctrl.BreederProfileEdit.Parents"
			          ng-maxlength="250"
			          required>
				{{ctrl.BreederProfileEdit.Parents}}
			</textarea>
		</div>
		<div class="form-group">
			<label class="sniff-subhead">Boys:</label>
			<span ng-show="form.boys.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<textarea rows="5" cols="30" name="boys" class="form-control"
			          ng-maxlength="250"
			          ng-model="ctrl.BreederProfileEdit.Boys">
				{{ctrl.BreederProfileEdit.Boys}}
			</textarea>
		</div>

		<div class="form-group">
			<label class="sniff-subhead">Girls:</label>
			<span ng-show="form.girls.$invalid" class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<textarea rows="5" cols="30" name="girls" class="form-control"
			          ng-maxlength="250"
			          ng-model="ctrl.BreederProfileEdit.Girls">
				{{ctrl.BreederProfileEdit.Girls}}
			</textarea>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="sniff-head-info">ADDITIONAL INFO</h3>
				<span ng-show="form.info.$error.maxlength"
				      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			</div>
		</div>

		<textarea id="info" name="info" rows="5" cols="30" class="form-control"
		          ng-maxlength="250"
		          ng-model="ctrl.BreederProfileEdit.AddInfo">
		</textarea>
		<br/>

		<h3 class="sniff-head-info">Breeds</h3>

		<div class="breeds-container">
			<ul class="list-group">
				<li ng-repeat="(key,bs) in breeds" class="list-group-item li-breed">
					<div class="row">
						<div class="col-xs-11">
							{{bs}}
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-link btn-del-breed" title="{{popoverDelete.title}}"
							        data-content="{{popover.content}}"
							        data-template="../views/modals/delete-confirmation.html"
							        data-animation="am-flip-x" bs-popover="popoverDelete"><i class="fa fa-trash-o"></i>
							</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="profile-breeds">
				<div class="control-group" id="fields">
					<div class="controls">
						<form role="form" name="form-breeds" id="form-breeds" ng-submit="addNewBreeds(breeder.breeds)">
							<div class="form-group">
								<div class="entry input-group col-xs-12">

									<button type="button" class="btn btn-default btn-search-panel"
									        ng-model="breeder.breeds"
									        data-multiple="1"
									        ng-options="breed for breed in breedsa"
									        placeholder="Breed"
									        ng-click="addNewBreeds(breeder.breeds)"
									        bs-select="selectBreeder">
										Select Breed <span class="caret"></span>{{breeder.breeds}}
									</button>

									<button class="btn btn-default btn-add"
                                    type="button">
	                            <span class="glyphicon glyphicon-plus">
	                            </span>
                            </button>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br/>

		<div class="form-group text-right">
		<button class="btn btn-warning btn-sniff-md"
			        ng-click="ResetAllFields();form.info.$setDirty()"> Reset all fields
			</button>
			<button class="btn btn-primary btn-sniff-md ml5"
			        ng-disabled="form.$invalid || form.$pristine"
			        ng-click="ctrl.Save(ctrl.BreederProfileEdit);addNewBreeds(breeder.breeds);form.$setPristine()">Save
			</button>
			<a class="btn btn-default btn-sniff-md ml5"
			   ui-sref="user.profile.photos2">Next Section
			</a>
		</div>
	</form>
</div>
