<div>
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="right" ng-show="home.isOwner" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>
	</div>
	<h3 class="sniff-head-info">KENNEL NAME</h3>

	<p>{{index.BreederProfile.KennelName}}</p>

	<h3 class="sniff-head-info">Your Story</h3>

	<p>{{index.BreederProfile.Story}}</p>


	<h3 class="sniff-head-info">PARENTS</h3>

	<h4 class="sniff-subhead">About Parents</h4>

	<p>{{index.BreederProfile.Parents}}</p>


	<h4 class="sniff-subhead">Boys</h4>

	<p>{{index.BreederProfile.Boys}}</p>

	<h4 class="sniff-subhead">Girls</h4>

	<p>{{index.BreederProfile.Girls}}</p>


	<h3 class="sniff-head-info">ADDITIONAL INFO</h3>

	<p>{{index.BreederProfile.AddInfo}}</p>
	<!--<div ui-view="info"></div>-->

</div>

