<div>
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="right" ng-show="home.isOwner" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>
	</div>
	<div sv-slider h="1200">
		<h3 class="sniff-head-info">KENNEL NAME</h3>

		<p>{{index.BreederProfile.KennelName}}</p>

		<p class="textMuted" ng-hide="index.BreederProfile.KennelName">What is your Kennel Name?</p>

		<h3 class="sniff-head-info">Your Story</h3>

		<p class="txt-subhead">{{index.BreederProfile.Story}}</p>

		<h3 class="sniff-head-info">PARENTS</h3>

		<h4 class="sniff-subhead">About Parents</h4>

		<p>{{index.BreederProfile.Parents}}</p>


		<h4 class="sniff-subhead">Boys</h4>

		<p>{{index.BreederProfile.Boys}}</p>

		<h4 class="sniff-subhead">Girls</h4>

		<p>{{index.BreederProfile.Girls}}</p>


		<h3 class="sniff-head-info">ADDITIONAL INFO</h3>

		<p>{{index.BreederProfile.AddInfo}}</p>
		<!--<div ui-view="info"></div>-->
		<h3 class="sniff-head-info"> Breeds</h3>

		<ul class="list-unstyled">
			<li ng-repeat="b in index.BreederProfile.breeds">
				{{b}}
			</li>
		</ul>

	</div>
</div>

