<div class="myDetailsContWrapper">
	<div ng-show="ctrl.isOwner">
		<h3 class="text-center sniff-head-info">MY DETAILS
			<button class="btn btn-save-details right"
			        ng-show="!IsEdit"
			        ng-click="Edit()"><i class="fa fa-pencil fa-fw light-gray"></i>
			</button>
			<button class="btn btn-save-details right"
			        ng-show="IsEdit"
			        ng-disabled="myDetailsForm.$invalid || myDetailsForm.$pristine"
			        ng-click="Save(); myDetailsForm.$setPristine()"><i class="fa fa-save fa-fw light-gray"></i>
			</button>
		</h3>
	</div>
	<div ng-hide="ctrl.isOwner" class="row">
		<div class="col-xs-12">
			<div class="alert alert-warning sniff-alert">
				<ul class="list-inline text-center ulMyDetailsUsers">
					<li>
						<a href="">FOLLOW</a>
					</li>
					<li>
						<a href="">SHARE</a>
					</li>
					<li>
						<a href="">CONTACT</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<form role="form" class="myDetailsForm form-horizontal" name="myDetailsForm" id="myDetailsForm" novalidate>
		<div class="form-group" ng-show="ctrl.isOwner">
			<label for="locationInput" class="labelMyDetails">Location:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Location}}</span>
			<input id="locationInput" name="locaionInput" type="text" class="form-control"
			       ng-model="ctrl.BreederProfileCopy.Location"
			       ng-show="IsEdit">
		</div>
		<div class="form-group" ng-show="!ctrl.isOwner">
			<label for="locationInput" class="labelMyDetails">Location:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Location}}</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="labelMyDetails">Website:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Website}}</span>
			<input type="text" class="form-control"
			       ng-model="ctrl.BreederProfileCopy.Website"
			       ng-show="IsEdit">
		</div>
		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="labelMyDetails">Website:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Website}}</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="labelMyDetails">Email:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Email}}</span>
			<input type="text" class="form-control"
			       ng-model="ctrl.BreederProfileCopy.Email"
			       ng-show="IsEdit">
		</div>

		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="labelMyDetails">Email:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Email}}</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="labelMyDetails">Phone:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Phone}}</span>
			<input type="text" class="form-control"
			       ng-model="ctrl.BreederProfileCopy.Phone"
			       ng-show="IsEdit">
		</div>

		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="labelMyDetails">Phone:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Phone}}</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="col-xs-4 no-l-pad labelMyDetails">Certifications:</label>
			<span class="col-xs-7 spanCertif">
				<ul class="list-unstyled">
					<li ng-show="!IsEdit" ng-repeat="c in ctrl.BreederProfile.Certifications">
						{{c.Title}} {{c.isActive | boolString}}
					</li>

					<li ng-show="IsEdit" ng-repeat="c in ctrl.BreederProfileCopy.Certifications">
						{{c.Title}} - <input type="checkbox" ng-model='c.isActive'>
					</li>
				</ul>
			</span>
		</div>

		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="col-xs-4 no-l-pad labelMyDetails">Certifications:</label>
			<span class="col-xs-7 spanCertif">
				<ul class="list-unstyled">
					<li ng-show="!IsEdit" ng-repeat="c in ctrl.BreederProfile.Certifications">
						{{c.Title}} - {{c.isActive | boolString}}
					</li>
				</ul>
			</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="labelMyDetails">Vet Services:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.VetServices|boolString}}</span>
			<input type="checkbox"
			       ng-model="ctrl.BreederProfileCopy.VetServices"
			       ng-show="IsEdit">
		</div>

		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="labelMyDetails">Vet Services:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.VetServices|boolString}}</span>
		</div>

		<div class="form-group" ng-show="ctrl.isOwner">
			<label class="labelMyDetails">Shipping:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Shipping|boolString}}</span>
			<input type="checkbox"
			       ng-model="ctrl.BreederProfileCopy.Shipping"
			       ng-show="IsEdit">
		</div>

		<div class="form-group" ng-show="!ctrl.isOwner">
			<label class="labelMyDetails">Shipping:</label>
			<span ng-show="!IsEdit">{{ctrl.BreederProfile.Shipping|boolString}}</span>
		</div>

		<div class="form-group  profileSave text-center" ng-show="ctrl.isOwner">
			<button ng-show="!IsEdit" class="btn btn-primary" ng-click="Edit()">Edit</button>
			<div ng-show="IsEdit">
				<button class="btn btn-primary"
				        ng-disabled="myDetailsForm.$invalid || myDetailsForm.$pristine"
				        ng-click="Save(); myDetailsForm.$setPristine()">Save
				</button>
				<button class="btn btn-default" ng-click="Cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
