<div class="row  nav-profile-wrapper">
	<div class="col-xs-8 nav-profile">
		<div class="pull-right">
			<ul class="nav nav-pills ul-nav-profile">
				<li ng-class="{'active':home.url=='about'}">
					<a class='btn btn-link sniff-profile-menu' ng-click="home.navigate(1)">About</a>
				</li>
				<li ng-class="{'active':home.url=='photos'}">
					<a class='btn btn-link sniff-profile-menu' ng-click="home.navigate(2)">Photos</a>
				</li>

				<li ng-class="{'active':home.url=='puppies'}">
					<a class='btn btn-link sniff-profile-menu' ng-click="home.navigate(3)">Puppies</a>
				</li>

				<li ng-class="{'active':home.url=='details'}">
					<a class='btn btn-link sniff-profile-menu' ng-click="home.navigate(4)">Details</a>
				</li>

				<li ng-class="{'active':home.url=='testimonials'}">
					<a class='btn btn-link sniff-profile-menu' ng-click="home.navigate(5)">Testimonials</a>
				</li>
			</ul>
		</div>
	</div>
</div>
