<div class="">
	<div class="socialMediaSection">
		<ul class="list-unstyled">

			<li>
				<a href="">
					<img src="../../img/social-media/facebook-16.png" alt="Sniffsters Facebook">
				</a>
			</li>
			<li>
				<a href="">
					<img src="../../img/social-media/twit-18.png" alt="Sniffsters Twitter">
				</a>
			</li>
			<li>
				<a href="">
					<img src="../../img/social-media/pin-16.png" alt="Sniffsters Pinterest">
				</a>
			</li>
		</ul>
	</div>
	<div id="cover">
		<div class="uploadCoverBtn" ng-show="home.isOwner">
			<label id="labelCover" class="fileContainer">
				<button class="btn btn-primary btnEditMainPic">
					<i class="fa fa-camera fa-fw"></i>
					Edit Picture
				</button>
			</label>
		</div>

		<img id="cover-img" class="img-responsive" ng-src="../../imgdir/breeder1@gmail.com/myimg/maincover.jpg"/>
	</div>

	<div id="profile-picture" class="profileMainPic">
		<label id="labelMainPic" class="fileContainer uploadMainPicBtn" ng-show="home.isOwner">
			<button class="btn btn-primary btnEditMainPic">
				<i class="fa fa-camera fa-fw"></i>
				Edit Picture
			</button>
		</label>
		<img class="thumbnail thPictureSmall img-responsive" id="profile-img"
		     src="../../imgdir/default/myimg/mainpic.jpg"/>
	</div>
</div>