<div class="">
	<div class="socialMediaSection">
		<ul class="list-unstyled">

			<li>
				<a href="">
					<img src="../../img/social-media/facebook-16.png" alt="Sniffsters Facebook">
				</a>
			</li>
			<li>
				<a href="">
					<img src="../../img/social-media/twit-18.png" alt="Sniffsters Twitter">
				</a>
			</li>
			<li>
				<a href="">
					<img src="../../img/social-media/pin-16.png" alt="Sniffsters Pinterest">
				</a>
			</li>
		</ul>
	</div>
	<div id="cover" style="position: relative">
		<img id="cover-img" class="img-responsive" ng-src="../../imgdir/breeder1@gmail.com/myimg/maincover.jpg"/>
	</div>

	<div id="profile-picture" class="profileMainPic">
		<label id="labelMainPic" class="fileContainer uploadMainPicBtn" ng-show="home.isOwner">


			<button class="btn btn-primary btnEditMainPic" ng-click="changePicture ()">
				<i class="fa fa-camera fa-fw"></i>
				Change Picture
			</button>
		</label>
		<img ng-if="isAvatarChanged" class="thumbnail thPictureSmall img-responsive"
		     ng-src="{{avatarsrc}}"/>

		<img ng-if="!isAvatarChanged" class="thumbnail thPictureSmall img-responsive"
		     src="../../imgdir/default/myimg/mainpic.jpg"/>
	</div>
</div>