<div class="">
	<!--	<div class="socialMediaSection">
			<ul class="list-unstyled">
				<li>
					<a href="https://www.facebook.com" target="_blank">
						<img src="../../img/social-media/facebook-16.png" alt="Sniffsters Facebook">
					</a>
				</li>
				<li>
					<a href="https://www.twitter.com" target="_blank">
						<img src="../../img/social-media/twit-18.png" alt="Sniffsters Twitter">
					</a>
				</li>
				<li>
					<a href="https://www.pinterest.com" target="_blank">
						<img src="../../img/social-media/pin-16.png" alt="Sniffsters Pinterest">
					</a>
				</li>
			</ul>
		</div>-->
	<div id="cover"
	     class="coverWrapper"
	     ng-mouseover="chgCoverBtnShown()"
	     ng-mouseleave="chgCoverBtnHidden()">

		<div ng-show="home.isOwner">
			<button class="btn btn-primary uploadCoverBtn"
			        data-animation="am-fade-and-scale"
			        data-placement="center"
			        data-template="../views/modals/cover-picture.html"
			        ng-show="showChangeCoverBtn"
			        bs-modal="modal">
				<i class="fa fa-camera fa-fw"></i>
				Change Cover
			</button>
		</div>

		<img class="img-responsive"
		     ng-show="isCoverChanged==true"
		     ng-src="{{coversrc}}"/>
		<img class="img-responsive"
		     ng-show="isCoverChanged==false"
		     ng-src="../../imgdir/default/myimg/maincover.jpg"/>
	</div>

	<div id="profile-picture" ng-cloak
	     class="profileMainPic"
	     ng-mouseover="chgBtnShown()"
	     ng-mouseleave="chgBtnHidden()">

		<div ng-show="home.isOwner">
			<button class="btn btn-primary btnEditMainPic"
			        ng-show="showChangeBtn"
			        ng-click="showProfile()">
				<i class="fa fa-camera fa-fw"></i>
				Change Picture
			</button>
		</div>
		<img ng-show="isAvatarChanged==true" class="thumbnail thPictureSmall img-responsive"
		     ng-src="{{avatarsrc}}"/>

		<img ng-cloak ng-if="home.isLoadFinished && isAvatarChanged==false"
		     class="thumbnail thPictureSmall img-responsive"
		     ng-src="../../imgdir/default/myimg/mainpic.jpg"/>
	</div>
</div>