	<div class="row">
			<div class="col-sm-8">
				<h4 class="italic">ABOUT</h4>
			</div>
			<div class="col-sm-2 pull-right">
				<button ng-click="SaveKennelName()" class="btn btn-info" ng-disabled="
				(form.kennel.$pristine && form.story.$pristine)
				|| (form.kennel.$invalid || form.story.$invalid) || saved">Save
				</button>
			</div>
		</div>

		<form class="form" name="form" novalidate>
			<div class="form-group has-feedback" ng-class="{'has-error':form.kennel.$invalid}">
				<label for="kennel" class="subheadlabel control-label">Kennel Name:</label>
				<span class="required">Required</span>
				<input id="kennel" class="form-control" ng-model="ctrl.BreederProfileEdit.KennelName" name="kennel"
				       type="text"
				       required/>
				<span ng-show="form.kennel.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
				<span ng-hide="form.kennel.$invalid" class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>
			<div class="form-group" ng-class="{'has-error':form.story.$invalid}">
				<label for="story" class="subheadlabel control-label">Your Story:</label>
				<span class="required">Required</span>
				<textarea id="story" name="story" rows="5" cols="30" class="form-control" ng-model="ctrl.BreederProfileEdit.Story"
				          required>
					{{ctrl.BreederProfileEdit.Story}}
				</textarea>
			</div>
		</form>