<div>
	<div class="row">
		<div class="col-xs-9">
			<h3>PERSONAL INFO</h3>
		</div>

		<div class="col-xs-1 pull-right">
			<a class="right" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>
	</div>
	<h4>Kennel Name</h4>

	<p>{{ctrl.BreederProfile.KennelName}}</p>

	<h4>Website</h4>

	<p>{{ctrl.BreederProfile.Website}}</p>

	<h4>Email</h4>

	<p>{{ctrl.BreederProfile.Email}}</p>

	<h4>Phone</h4>

	<p>{{ctrl.BreederProfile.Phone}}</p>
	<br/>

	<h3 class="italic">LOCATION</h3>

	<h4>City</h4>

	<p>{{ctrl.BreederProfile.City}}</p>

	<h4>Zip</h4>

	<p>{{ctrl.BreederProfile.Zip}}</p>

	<h4>State</h4>

	<p>{{ctrl.BreederProfile.State}}</p>

	<br/>

	<h3>SPECIFICS</h3>
	<!--<div ui-view="info"></div>-->

	<h4>Certifications</h4>

	<p ng-repeat="c in ctrl.BreederProfile.Certifications">
		{{c.Title}} - {{c.isActive | boolString}}
	</p>

	<h4>Vet Services</h4>

	<p>{{ctrl.BreederProfile.VetServices|boolString}}</p>

	<h4>Insurance</h4>

	<p ng-repeat="c in ctrl.BreederProfile.Insurances">
		{{c.Title}} - {{c.isActive | boolString}}
	</p>

	<h4>Shipping</h4>

	<p>{{ctrl.BreederProfile.Shipping|boolString}}</p>
</div>
