<div>
	<button ng-click="testimonials.updateFeedBack(SelectedFeedback)" class="pull-right">

		<i class="fa fa-save"></i>
	</button>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="clientName" class="subheadlabel control-label">Client Name:</label>
				<input id="clientName" name="clientName" class="form-control"
				       ng-model="SelectedFeedback.ClientName"
				       name="clientName"
				       type="text"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="feedback" class="coltrol-label">Feedback:</label>
				<textarea rows="5" cols="30" name="feedback" id="feedback" class="form-control"
				          ng-model="SelectedFeedback.FeedbackBody">
				</textarea>
			</div>
		</div>
	</div>
</div>
