<div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="clientName" class="subheadlabel control-label">Name:</label>
				<input id="clientName" name="clientName" class="form-control"
				       ng-model="f.ClientName"
				       name="clientName"
				       type="text"/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="feedback" class="coltrol-label">Feedback:</label>
				<textarea rows="5" cols="30" name="feedback" id="feedback" class="form-control"
				          ng-model="f.FeedbackBody">
				</textarea>
			</div>
		</div>
	</div>
</div>
