<div ng-show="isOwner">
	<form role="form" name="formNewFeedback">
		<h3 class="sniff-head-info">New Feedback</h3>
		<hr/>
		<div class="form-group">
			<label for="clientName" class="sniff-subhead control-label">Client Name:</label>
					<span ng-show="formNewFeedback.clientName.$error.maxlength"
					      class="text text-danger pull-right  maxSymb">Max 250 symbols!</span>
			<input type="text" id="clientName" name="clientName" class="form-control"
			       ng-model="f.ClientName"
			       ng-class="{inputEmpty:!formNewFeedback.clientName}"
			       ng-maxlength="250"/>
		</div>

		<div class="form-group">
			<label for="newFeedbackBody" class="sniff-subhead control-label">Feedback:</label>
					<span ng-show="formNewFeedback.newFeedbackBody.$invalid"
					      class="text text-danger pull-right  maxSymb">Max 3000 symbols!</span>
			<textarea rows="5" cols="30" name="newFeedbackBody" id="newFeedbackBody" class="form-control"
			          ng-model="f.FeedbackBody"
			          ng-class="{inputEmpty:!formNewFeedback.newFeedbackBody}"
			          ng-maxlength="3000">
			</textarea>
		</div>
	</form>
</div>
