<div ng-show="isOwner">
<form role="form" name="formTestimonials" id="formTestimonials">
		<div class="form-group">
			<label for="clientName"
			       class="sniff-subhead control-label">Client Name:</label>
					<span ng-show="formTestimonials.clientName.$error.maxlength"
					      class="text text-danger pull-right  maxSymb">Max 250 symbols!</span>
			<input type="text" id="clientName" name="clientName" class="form-control"
			       ng-model="SelectedFeedback.ClientName"
			       ng-class="{inputEmpty:!formTestimonials.clientName}"
			       ng-maxlength="250"/>
		</div>
		<div class="form-group">
			<label for="feedbackBody"
			       class="sniff-subhead control-label">Feedback:</label>
			<span ng-show="formTestimonials.feedbackBody.$invalid" class="text text-danger pull-right  maxsymb">Max 3000 symbols!</span>
			<textarea rows="5" cols="30" name="feedbackBody" id="feedbackBody" class="form-control"
			          ng-model="SelectedFeedback.FeedbackBody"
			          ng-class="{inputEmpty:!formTestimonials.feedbackBody}"
			          ng-maxlength="3000">
			</textarea>
		</div>


		<div class="form-group text-right">
			<a class="btn btn-default" ui-sref="profile.testimonials5">Cancel</a>
			<button class="btn btn-primary"
			        data-toggle="tooltip" data-placement="left" title="Save Feedback Title"
			        ng-disabled="formTestimonials.$invalid || formTestimonials.$pristine"
			        ng-click="testimonials.updateFeedBack(SelectedFeedback)">Save
			</button>
		</div>
	</form>
</div>
