<div>
	<h3 class="sniff-head-info">New Litter</h3>

	<form role="form" name="newLitterForm" id="newLitterForm" novalidate>
		<div class="form-group">
			<label class="sniff-subhead" for="title">Title:</label>&nbsp<span class="textMuted">Required</span>
			<span ng-show="newLitterForm.title.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<input type="text" class="form-control" id="title" name="title"
			       placeholder="title"
			       ng-class="{inputEmpty:!l.Title}"
			       ng-model="l.Title"
			       ng-maxlength="250"
			       required>
		</div>

		<div class="form-group">
			<label class="sniff-subhead" for="date">Date of Birth:</label>&nbsp<span class="textMuted">Required</span>

			<p class="input-group">
				<input type="text" id="date" name="date" class="form-control"
				       placeholder="Date of Birth"
				       ng-class="{inputEmpty:!l.DateOfBirth}"
				       ng-required="true"
				       ng-model="l.DateOfBirth"
				       ng-model="dt"
				       datepicker-popup='MM.dd.yyyy'
				       is-open="opened"
				       datepicker-options="dateOptions"
				       date-disabled="disabled(date, mode)"
				       close-text="Close"
						/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event)">
	                <i class="fa fa-calendar"></i>
                </button>
              </span>
			</p>
		</div>

		<div class="form-group">
			<label class="sniff-subhead" for="puppies">Number of puppies and sex:</label>&nbsp<span class="textMuted">Required</span>
			<span ng-show="newLitterForm.puppies.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<input type="text" class="form-control" id="puppies" name="puppies"
			       placeholder="Number of puppies and sex"
			       ng-model="l.Puppies"
			       ng-class="{inputEmpty:!l.Puppies}"
			       ng-maxlength="250"
			       required>
		</div>
		<div class="form-group">
			<label class="sniff-subhead" for="colors">Colors:</label>&nbsp<span class="textMuted">Required</span>
			<span ng-show="newLitterForm.colors.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<input type="text" class="form-control" id="colors" name="colors"
			       placeholder="Color"
			       ng-model="l.Colors"
			       ng-class="{inputEmpty:!l.Colors}"
			       ng-maxlength="250"
			       required>
		</div>
	</form>
	<sv-image-upload
			files="l.Photos"
			is-mult="true"
			file-size="3000000"
			btn-title="Upload Pictures">
	</sv-image-upload>
</div>