<div>
	<div class="text-right">
		<button class="right btn btn-link"
		        ng-disabled="(litter.$pristine)
					|| (litter.title.$invalid || litter.dateOfBirth.$invalid || litter.puppies.$invalid)|| litter.colors.$invalid || saved"
		        ng-click="save();litter.$setPristine();">Save
			</button>
	</div>
	<form role="form" name="litter" id="litter" novalidate>
		<div class="form-group">
			<label class="sniff-subhead" for="title"> Title</label>&nbsp<span class="textMuted">Required</span>
			<span ng-show="litter.title.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 250 symbols!</span>
			<input type="text" class="form-control" id="title" name="title" placeholder="title"
			       ng-class="{inputEmpty:!l.Title}"
			       ng-model="l.Title">
		</div>

		<div class="form-group">
			<label class="sniff-subhead" for="date">Date of Birth</label>&nbsp<span class="textMuted">Required</span>

			<div class="input-group calendar">
				<input type="text" id="date" name="date" class="form-control"
				       datepicker-popup='dd.MM.yyyy' is-open="opened"
				       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
				       ng-class="{inputEmpty:!l.DateOfBirth}"
				       ng-model="l.DateOfBirth"
				       ng-model="dt"
				       ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-calendar"
                        ng-click="open($event)">
	                <i class="fa fa-calendar"></i>
                </button>
              </span>
			</div>
		</div>

		<div class="form-group">
			<label class="sniff-subhead" for="puppies">Number of puppies and sex</label>&nbsp<span class="textMuted">Required</span>
			<input type="text" class="form-control" id="puppies" name="puppies" placeholder="title"
			       ng-class="{inputEmpty:!l.Puppies}"
			       ng-model="l.Puppies">
		</div>
		<div class="form-group">
			<label class="sniff-subhead" for="Colors">Colors</label>&nbsp<span class="textMuted">Required</span>
			<input tybpe="text" class="form-control" id="colors" name="colors" placeholder="title"
			       ng-class="{inputEmpty:!l.Colors}"
			       ng-model="l.Colors">
		</div>

		<div class="row">
			<ul class="list-unstyled ">
				<li class="col-xs-12 shuffle-animation" ng-repeat="(id,p) in l.photos">
					<button class="btn pull-right btn-del-pic"
					        data-toggle="tooltip" data-placement="left" title="Delete this photo."
					        ng-click="deleteLitterPhoto(id)">
						<i class="fa fa-trash-o"></i>
					</button>
					<div class="thumbnail">
						<img class="puppyPic"
						     ng-src="{{p.file64}}" alt="">
						<div class="row">
							<div class="col-xs-12">
								<input type="text" class="form-control" ng-model="p.caption">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel panel-default panel-file-upload">
			<div class="row">
				<div class="col-xs-12">
					<h6 class="textMuted">Photo 3MB max JPG, PNG, GIF </h6>

					<div class="text-center dropFilesHere"
					     ng-file-drop="onFileSelect($files)"
					     ng-file-drag-over-class="optional-css-class"
					     ng-show="dropSupported">
						<img class="dragPhotosImg" src="../../img/photo-icon.png" alt="Photo Icon">

						<h5 class="drag-photos"> drag photos here </h5>
					</div>
				</div>
			</div>
			<br/>

			<div class="row">
				<div class="col-xs-12 text-center">
					<div ng-file-drop-available="dropSupported=true"
					     ng-show="!dropSupported">HTML5 Drop File is not supported!
					</div>
					<label class="fileContainer">
						<button class="btn btn-primary">Choose Files</button>
						<input class="chooseFilesButton" type="file"
						       ng-file-select="onFileSelect($files)" multiple>
					</label>
				</div>
			</div>
		</div>
		<a ui-sref="^" class="btn btn-default">Cancel</a>
		<button class="btn btn-info"
		        ng-disabled="litter.$pristine"
		        ng-click="saveLitter(); litter.$setPristine(); ">Save
		</button>
	</form>
</div>