<div class="litterWrapper">
	<a ng-click="puppies.setSelectedLitter(l.Id)" class="cursor-p">
		<div class="row">
			<div class="col-xs-5">
				<div class="thumbnail">
					<img class="puppyPic"
					     ng-src="{{('imgdir/'+userName+'/litters/'+l.Id+'/'+l.Photos[0].FilePath) | spacesToDashes}}">
				</div>
			</div>
			<div class="col-xs-7 textLitter">
				<h4> {{l.Title}} </h4>

				<p>
					{{l.DateOfBirth|date:'MM.dd.yyyy'}}
				</p>

				<p>
					{{l.Puppies}}
				</p>

				<p>
					{{l.Colors}}
				</p>
			</div>
		</div>
	</a>
</div>

