<div class="row">
	<div class="alert alert-warning col-xs-8 sniff-alert">
		<a class="btn btn-default btn-message shuffle-animation"
		   ui-sref-active="active"
		   ng-class="{}"
		   ng-if="home.isBreeder===true"
		   ui-sref="user.profile.messages"><i class="fa fa-envelope-o fa-fw fa-md "></i>
			Inbox <strong ng-show="index.unReadMessagesNumber">({{index.unReadMessagesNumber}})</strong>
		</a>

		<a class="btn btn-default btn-message shuffle-animation"
		   ng-if="home.isBreeder===false"
		   ui-sref-active="active"
		   ui-sref="looker.messages"><i class="fa fa-envelope-o fa-fw fa-md "></i>
			Inbox
		</a>

		<a class="btn btn-default btn-message shuffle-animation"
		   ng-if="home.isBreeder===true"
		   ui-sref-active="active"
		   ui-sref="user.profile.messages.trash">
			<i class="fa fa-trash-o fa-md fa-fw"></i>
			Trash
		</a>

		<a class="btn btn-default btn-message shuffle-animation"
		   ng-if="home.isBreeder===false"
		   ui-sref-active="active"
		   ui-sref="looker.messages.trash">
			<i class="fa fa-trash-o fa-md fa-fw"></i>
			Trash
		</a>
	</div>
	<div class="alert alert-warning col-xs-4 sniff-alert">

		<div ng-if="home.isBreeder===true">
			<button class="btn btn-primary pull-right"
			        ng-disabled="!home.subscription || (home.subscription.Messages>0 && index.messagesNumber>=home.subscription.Messages)"
			        ui-sref="user.profile.messages.create">
				<i class="fa fa-pencil fa-fw fa-md "></i>
				New Message
			</button>

			<a class="btn btn-link pull-right"
			   ui-sref="user.profile.upgrade"

			   ng-show="!home.subscription || (home.subscription.Messages>0 && index.messagesNumber>=home.subscription.Messages)">
				Start a plan
			</a>
		</div>
		<button class="btn btn-primary pull-right"
		        ng-if="home.isBreeder===false"
		        ui-sref="looker.messages.create">
			<i class="fa fa-pencil fa-fw fa-md "></i>
			New Message
		</button>

	</div>

</div>
