<div panel panel-info>
	<h4>
		<p ng-transclude></p>

	</h4>
	<div>
		<input type="text" ng-model="gtitle" class="form-control">
	</div>
	<div>
		<b>Uploaded photos({{pnumbers}})</b><span>Optional</span>
	</div>
	<div class="text-muted">Photo 3MB max JPG, PNG, GIF</div>
	<div class="row">
	    <div class="col-sm-6">
		    <div class="panel panel-info text-center">
			    <br/>
			    <button ng-click="" class="btn btn-success">Browse</button>
			    <br/>
			    <br/>

		    </div>
	    </div>
	</div>


</div>
