<div class="well">
	<form class="form" name="form" id="form" novalidate>
		<div class="row">
			<div class="col-xs-12">

				<div class="form-group">
					<label>Gallery Title:</label>&nbsp<span class="textMuted">Required</span>
					<span ng-show="form.galTitleEdit.$error.maxlength"
					      class="text text-danger pull-right  maxSymb">Max 250 symbols!</span>

					<div class="row">
						<div class="col-xs-11">
							<input type="text"
							       placeholder="Gallery Title"
							       name="galTitleEdit"
							       class="form-control"
							       ng-model="photosCtrl.SelectedGalleryEdit.Title"
							       ng-class="{inputEmpty:!photosCtrl.SelectedGalleryEdit.Title}"
							       ng-maxLength="250"
							       required>
						</div>

						<div class="col-xs-1">
							<button class="btn pull-right btn-save"
							        data-toggle="tooltip" data-placement="left" title="Save Gallery Title"
							        ng-disabled="form.galTitleEdit.$invalid || form.$pristine"
							        ng-click="updateTitle(photosCtrl.SelectedGalleryEdit.Title); form.$setPristine();">
								<i class="fa fa-save"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<ul class="list-unstyled ">
			<li class="col-xs-12 shuffle-animation" ng-repeat="p in photosCtrl.SelectedGalleryEdit.Photos">
				<button class="btn pull-right btn-del-pic"
				        data-toggle="tooltip" data-placement="left" title="Delete this picture"
				        ng-click="delete(p,$index)">
					<i class="fa fa-trash-o"></i>
				</button>
				<div class="thumbnail">
					<img class="puppyPic"
					     ng-src="{{('imgdir/'+index.Id+'/'+photosCtrl.SelectedGalleryEdit.Id+'/'+p.FilePath) | spacesToDashes}}">

					<form role="form" id="picCapForm" name="picCapForm">
						<div class="form-group">
						<span ng-show="picCapForm.picCaptionEdit.$error.maxlength"
						      class="text text-danger pull-right  maxSymb">Max 250 symbols!</span>

							<div class="row">
								<div class="col-xs-11">
									<input type="text"
									       class="form-control"
									       name="picCaptionEdit"
									       ng-model="p.Caption"
									       ng-class="{inputEmpty:picCapForm.picCaptionEdit.$invalid}"
									       ng-maxlength="250"/>
								</div>

								<div class="col-xs-1">
									<button class="btn pull-right btn-save"
									        data-toggle="tooltip" data-placement="left"
									        title="Save Caption"
									        ng-disabled="picCapForm.picCaptionEdit.$invalid || picCapForm.picCaptionEdit.$pristine || saved"
									        ng-click="update(p); picCapForm.$setPristine();">
										<i class="fa fa-save"></i>
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</li>
		</ul>
	</div>

	<div class="panel panel-default panel-file-upload">
		<div class="row">
			<div class="col-xs-12">
				<div class="text-muted">Photo 3MB max JPG, PNG, GIF</div>
				<div class="text-center dropFilesHere"
				     ng-file-drop="onFileSelect($files)"
				     ng-file-drag-over-class="optional-css-class"
				     ng-show="dropSupported">
					<img class="dragPhotosImg" src="../../img/photo-icon.png" alt="">

					<p class="">
						Drag photos here
					</p>
				</div>
			</div>
		</div>
		<br/>

		<div class="row">
			<div class="col-xs-12 text-center">
				<div ng-file-drop-available="dropSupported=true"
				     ng-show="!dropSupported">HTML5 Drop File is not supported!
				</div>
				<label class="fileContainer">
					<button class="btn btn-primary">Choose Files</button>
					<input class="chooseFilesButton" type="file" ng-file-select="onFileSelect($files)" multiple>
				</label>
			</div>
		</div>
	</div>
	<a ui-sref="^" class="btn btn-default">Cancel</a>
</div>


