<div class="well">
	<div class="row">
		<div class="col-xs-9">
			<h4 class="sniff-head-sm">
				{{photosCtrl.SelectedGallery.Title}}
			</h4>
		</div>
		<div class="col-xs-1" ng-show="!photosCtrl.SelectedGallery.IsActive">
			<button class="btn btn-share " data-toggle="tooltip" data-placement="left" title="Share this gallery"
			        ng-click="shareGallery()">
				<i class="fa fa-share"></i>
			</button>
		</div>
		<div class="col-xs-1">
			<button class="btn btn-edit" data-toggle="tooltip" data-placement="left" title="Edit this gallery"
			        ui-sref=".edit">
				<i class="fa fa-pencil"></i>
			</button>
		</div>
		<div class="col-xs-1">
			<button class="btn btn-del" data-toggle="tooltip" data-placement="left" title="Delete this gallery"
			        ng-click="delGallery()">
				<i class="fa fa-trash-o"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline">
				<li class="col-xs-12 shuffle-animation" ng-repeat="p in photosCtrl.SelectedGallery.Photos">
					<div class="thumbnail">
						<img ng-src="{{('imgdir/'+index.Id+'/'+photosCtrl.SelectedGallery.Id+'/'+p.FilePath) | spacesToDashes}}">

						<div class="caption">
							<h4>{{p.Caption}}</h4>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>