<div class="well">
	<h3>Current Galleries</h3>

	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline">
				<li class="col-xs-12 col-md-4 animate" ng-repeat="g in photosCtrl.Galleries">
					<div class="thumbnail">
						<div class="text-primary text-center caption">
							<h5 class="">
								{{g.Title | titleLength:15}}
							</h5>
						</div>

						<a ng-click="photosCtrl.setSelectedGallery($index)" class="cursor-p">
							<img ng-src="{{('imgdir/'+index.Id+'/'+g.Id+'/'+g.Photos[0].FilePath) | spacesToDashes}}">
							<!--Click-->
						</a>
					</div>
				<!--<li>-->
					<!--<a class="thumbnail addNewGalleryLink" href="">-->
						<!--<h4 class="h4-addNewGallery">-->
							<!--Add new gallery-->
						<!--</h4>-->
						<!--<img class="dragPhotosImg" src="../../img/photo-icon.png" alt="">-->

					<!--</a>-->
				<!--</li>-->
				</li>
			</ul>
		</div>
	</div>
</div>