<div class="panel-previous-puppies img-responsive ">
	<div class="previous">
		<a class="" ui-sref="user.profile.photos2.galleries({id:expuppies[indexPrev].gid})">
			<div class="img-thumb-container">
				<img class="img-thumb-previous text-center"
				     ng-src="{{expuppies[indexPrev].file64 || '../img/avatar-lg.png'}}">
			</div>
		</a>
	</div>


	<a class="btn-slider-left" ng-click="prev()"></a>
	<a class="btn-slider-right" ng-click="next()"></a>

	<div class="add-previous">
		<sv-add-prev-puppies></sv-add-prev-puppies>
	</div>
</div>
