<div>
	<div class="panel-previous-puppies img-responsive ">
		<div class="previous">
			<div class="img-thumb-container-previous-puppies img-responsive">
				<img class="img-thumb-previous img-responsive"
				     ng-src="{{expuppies[indexPrev].file64 || '../img/avatar-lg.png'}}"
				     alt="Image Avatar">
			</div>
			<a class="btn-slider-left" ng-click="prev()"></a>
			<a class="btn-slider-right" ng-click="next()"></a>
		</div>

	</div>
	<div>
		</br>
		</br>
		</br>
		</br>
		<sv-add-prev-puppies></sv-add-prev-puppies>
	</div>
</div>