<div>
	<table class="table table-for-breeders">
		<tr>
			<th class="th-plans-table text-center active">
			<td>
				<button type="button" class="btn btn-lg btn-danger" title="{{popover.title}}"
				        data-content="{{popover.content}}" data-template="../views/directives/sv-new-plan.html"
				        data-animation="am-flip-x" bs-popover>Add new Plan
				</button>

			</td>
			<button class="pull-left" ng-click="addFeaturePlan()">Add new Feature</button>

			</th>
			<th class="text-center active">
				<span class="th-plans-table">
					Free
				</span>

				<p class="">First 2 months</p>
			</th>
			<th class="text-center active th-plans-table">Monthly</th>
			<th class="text-center info th-plans-table">Annually</th>
		</tr>

		<tbody>
		<tr>
			<th></th>
			<td class="active"></td>
			<td class="text-center text-center active">
				<strong>US$19.99/MO
				</strong>
			</td>
			<td class="text-center info">
				<strong>
					US$225.99*
				</strong>

				<p class="text-center text-warning">10% discount</p>
			</td>
		</tr>

		<tr>
			<th></th>
			<td class="text-center active">
				<button class="text-center btn btn-default btn-tryit">Try It</button>
			</td>
			<td class="text-center active">
				<button class="text-center btn btn-default btn-tryit">Start Now</button>
			</td>
			<td class="text-center info">
				<button class="btn btn-primary btn-tryit">Start Now</button>
			</td>

		</tr>
		<tr>
			<th>Profile Features
				<p>Tell your story</p>
			</th>
			<td class="text-center active">Limited</td>
			<td class="text-center active"><i class="text-center fa fa-check fa-2x text-info"></i></td>
			<td class="text-center info"><i class="fa fa-check fa-2x text-info"></i></td>
		</tr>
		<tr>
			<th>Messages
				<p>Get in touch with your customers</p>
			</th>
			<td class="text-center active">Limited</td>
			<td class="text-center active"><i class="fa fa-check fa-2x text-info"></i></td>
			<td class="text-center info"><i class="fa fa-check fa-2x text-info"></i></td>
		</tr>
		<tr>
			<th>Photo Galleries
				<p>Snow your current and past puppies</p>
			</th>
			<td class="text-center active"></td>
			<td class="text-center active"><i class="fa fa-check fa-2x text-info"></i></td>
			<td class="text-center info"><i class="fa fa-check fa-2x text-info"></i></td>
		</tr>
		<tr>
			<th class="active"></th>
			<td class="text-center active">
				<button class="text-center btn btn-default btn-tryit">Try It</button>
			</td>
			<td class="text-center active">
				<button class="text-center btn btn-default btn-tryit">Start Now</button>
			</td>
			<td class="text-center info">
				<button class="btn btn-primary btn-tryit">Start Now</button>
			</td>

		</tr>
		</tbody>
	</table>

</div>