<div>
	<table class="table table-for-breeders">
		<tr>
			<th class="th-plans-table text-center active">
				<button type="button" class="btn btn-lg btn-danger" title="{{popover.title}}"
				        data-content="{{popover.content}}" data-template="../views/modals/new-feature.html"
				        data-animation="am-flip-x" bs-popover>Add new Feauture
				</button>

			</th>
			<th class="text-center active">
				<span class="th-plans-table">
					Free
				</span>

				<p class="">First 2 months</p>
			</th>
			<th class="text-center active th-plans-table">Monthly</th>
			<th class="text-center info th-plans-table">Annually</th>
			<th></th>
		</tr>

		<tbody>
		<tr>
			<th></th>
			<td class="active"></td>
			<td class="text-center text-center active">
				<strong>US$19.99/MO
				</strong>
			</td>
			<td class="text-center info">
				<strong>
					US$225.99*
				</strong>

				<p class="text-center text-warning">10% discount</p>
			</td>
			<td></td>
		</tr>


		<tr ng-repeat="(key,f) in features" class="shuffle-animation">
			<th> {{f.name}}
				<p>{{f.comment}}</p>
			</th>
			<td class="text-center active">
				<input type="number" ng-model="f.free">
			</td>
			<td class="text-center active">
				<input type="number" ng-model="f.monthly">
			</td>
			<td class="text-center active">
				<input type="number" ng-model="f.annually">
			</td>
			<td class="text-center active">
				<button ng-click="removeFeature(key)">X</button>
			</td>
		</tr>


		</tbody>
	</table>

</div>