<div>
	<h3 class="h-subsctriptions">Subscription Plans</h3>
	<br/>

	<div class="" ng-show="isAdmin">
		<table class="table table-for-breeders">
			<tr>
				<th class="th-plans-table text-center active">
					<button type="button" class="btn btn-danger btn-sniff-md"
					        title="{{popover.title}}"
					        data-content="{{popover.content}}" data-template="../views/modals/new-feature.html"
					        data-animation="am-flip-x" bs-popover>Add new Feauture
					</button>
				</th>
				<th class="text-center active th-plans-table">
					<input class="form-control" type="text" placeholder="Plan Name"
					       ng-model="(plans|orderByPriority)[0].name">
					<input class="form-control" type="text" placeholder="Comment"
					       ng-model="(plans|orderByPriority)[0].comment">
				</th>
				<th class="text-center active th-plans-table">
					<input class="form-control" type="text" placeholder="Plan Name"
					       ng-model="(plans|orderByPriority)[1].name">
					<!--<input class="form-control" type="text" placeholder="Comment" ng-model="(plans|orderByPriority)[1].comment">-->
				</th>
				<th class="text-center info th-plans-table">
					<input class="form-control" type="text" placeholder="Plan Name"
					       ng-model="(plans|orderByPriority)[2].name">
					<!--<input class="form-control" type="text" placeholder="Comment" ng-model="(plans|orderByPriority)[2].comment">-->
				</th>
				<th class="active"></th>
			</tr>
			<tbody>
			<tr>
				<th></th>
				<td class="active"></td>
				<td class="text-center text-center active">
					<input class="form-control" type="number" placeholder="Price"
					       ng-model="(plans|orderByPriority)[1].price">
				</td>
				<td class="text-center info">
					<input class="form-control" type="number" placeholder="Price"
					       ng-model="(plans|orderByPriority)[2].price">
					<input class="form-control" type="number" placeholder="Discount"
					       ng-model="(plans|orderByPriority)[2].discount">
				</td>
				<td class="active"></td>
			</tr>
			<tr ng-repeat="(key,f) in features" class="shuffle-animation">
				<th> {{f.name}}
					<p>{{f.comment}}</p>
				</th>
				<td class="text-center active">
					<input class="form-control" type="number" ng-model="f.free">
				</td>
				<td class="text-center active">
					<input class="form-control" type="number" ng-model="f.monthly">
				</td>
				<td class="text-center info">
					<input class="form-control" type="number" ng-model="f.annually">
				</td>
				<td class="text-center active">
					<button type="button" class="btn btn-link"
					        title="{{popoverDelete.title}}"
					        data-content="{{popover.content}}"
					        data-template="../views/modals/delete-confirmation.html"
					        data-animation="am-flip-x"
					        bs-popover="popoverDelete">
						<i class="fa fa-trash-o"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>

		<div class="text-right">
			<button class="btn btn-primary" ng-click="savePlans()">Save</button>
		</div>
		<br/>
		<hr/>
	</div>

	<table class="table table-for-breeders">
		<tr>
			<th class="plans-cell text-center active">
				<h3 class="h-compare">Compare Plans</h3>
			</th>
			<th class="text-center active th-plans-table">
				{{(plans|orderByPriority)[0].name}}
				<p class="comment">
					{{(plans|orderByPriority)[0].comment}}
				</p>
			</th>
			<th class="text-center active th-plans-table">
				{{(plans|orderByPriority)[1].name}}
			</th>

			<th class="text-center info th-plans-table">
				{{(plans|orderByPriority)[2].name}}
			</th>
		</tr>
		<tr ng-if="isLoggedIn">
			<th></th>
			<td class="text-center active">
				<button class="text-center btn btn-default btn-sm btn-tryit btn-sniff-md"
				        ng-show="!home.subscription"
				        ng-click="startPlan('free')">Try It
				</button>
				<h4 class="label label-success"
				    ng-show="home.subscription.name=='Free'">Active
				</h4>
			</td>
			<td class="text-center active">
				<button class="btn btn-primary btn-sniff-md"
				        ng-show="!home.subscription || home.subscription.name=='Free'"
				        data-animation="am-fade-and-scale"
				        data-title="Subscribe to Monthly Sniffsters Plan"
				        data-placement="center"
				        ng-click="setPlanToPay('monthly')"
				        data-template="../views/modals/monthly-plan.html"
				        bs-modal="modalMonthly">
					Start Now
				</button>

				<h4 class="label label-success"
				    ng-show="home.subscription.name=='Monthly'">Active
				</h4>
			</td>
			<td class="text-center info">
				<button class="btn btn-primary btn-sniff-md"
				        ng-show="!home.subscription || home.subscription.name!='Annually'"
				        data-animation="am-fade-and-scale"
				        data-title="Subscribe to Annual Sniffsters Plan"
				        data-placement="center"
				        data-template="../views/modals/annually-plan.html"
				        bs-modal="modalAnnually">
					Start Now
				</button>

				<h4 class="label label-success"
				    ng-show="home.subscription.name=='Annually'">Active
				</h4>
			</td>
		</tr>
		<tbody>
		<tr>
			<th></th>
			<td class="active"></td>
			<td class="text-center text-center active">
				<h5 class="h-price">
					US$
					{{(plans|orderByPriority)[1].price}}
					/MO
				</h5>
			</td>
			<td class="text-center info">
				<h5 class="h-price">
					US$
					{{(plans|orderByPriority)[2].price}}
					/MO
				</h5>

				<p class="text-center text-warning">
					{{(plans|orderByPriority)[2].discount}}%
					discount</p>
			</td>
		</tr>
		<tr ng-repeat="(key,f) in features" class="shuffle-animation">
			<th> {{f.name}}
				<p class="comment">{{f.comment}}</p>
			</th>
			<td class="text-center active">
				<span ng-show="f.free">Limited</span>
				<i ng-hide="f.free" class="text-center fa fa-check fa-2x text-info"></i>
			</td>
			<td class="text-center active">
				<span ng-show="f.monthly">Limited{{f.free}}</span>
				<i ng-hide="f.monthly" class="text-center fa fa-check fa-2x text-info"></i>
			</td>
			<td class="text-center active">
				<span ng-show="f.annually">Limited</span>
				<i ng-hide="f.annually" class="text-center fa fa-check fa-2x text-info"></i>
			</td>
		</tr>
		</tbody>
	</table>
</div>