<div class="well">
	<div ng-show="i.isSized">
		<form name="form-caption" action="">
			<div class="form-group" ng-show="isMult">
				<label for="caption">Image Caption:</label>
					<span ng-show="form-caption.cap.$invalid"
					      class="text text-danger pull-right maxSymb">Max 250 symbols!</span>
				<input class="form-control"
				       name="caption" id="caption" type="text"
				       ng-maxLength="250"
				       ng-model="i.caption">
			</div>
		</form>
		<div>
			<div ng-show="hasBeenCropped" class="img-responsive">
				<div>
					<img class="img-responsive" ng-src="{{i.file64}}">
				</div>
				<canvas id="myCanvas" width="{{width}}" height="{{height}}" class="hidden"></canvas>
				<div class="">
					<button class='btn btn-success crop-ava' ng-click="saveChanges()">Set Picture</button>
				</div>
			</div>
			<div class="img-responsive" ng-show="!hasBeenCropped">
				<img class="" ng-src={{i.file64}} id="cropme" sv-image-wrapper>
				<br/>

				<div class="btn-crop-wrapper" ng-show="isCropNeeded && !hasBeenCropped">
					<button class="btn btn-primary crop-ava" ng-show="!cropAccept" ng-click="crop()">
						<i class="fa fa-crop"></i>
						Crop Image
					</button>
					<button class="btn btn-primary" ng-show="cropAccept" ng-click="cutImage()">
						<i class="fa fa-crop"></i>
						Accept Crop
					</button>
				</div>
			</div>
		</div>
	</div>
	<p ng-hide="i.isSized">{{i.fileName}} file exceeds the size limit
		<input type="file" ng-file-select="onFileSelect({$files:$files,index:index})" accept="image/*">
	</p>
</div>