<div ui-view="">
	<ol class="breadcrumb" ng-hide="!home.isOwner">
	<li><a ui-sref="^">Current Litters</a></li>
		<li class="active">{{litter.Title}}</li>
	</ol>
	<div class="text-right btn-wrapper" ng-hide="!home.isOwner">
	<button class="btn btn-edit" data-toggle="tooltip" data-placement="left" title="Edit this gallery"
		        ui-sref=".edit">
			<i class="fa fa-pencil"></i>
		</button>
		<button class="btn btn-del"
		        title="{{popoverDelete.title}}"
		        data-content="{{popover.content}}"
		        data-template="../views/modals/delete-confirmation.html"
		        data-animation="am-flip-x"
		        bs-popover="popoverDelete">
		<i data-toggle="tooltip" data-placement="left" title="Delete this litter"
			   class="fa fa-trash-o light-gray"></i>
		</button>
	</div>
	<div class="slider-wrapper" sv-slider h="1200">
		<h3 class="sniff-head-info text-center">
		{{litter.Title}}
		</h3>
		<hr/>
		<p>
			<strong>
				Date of Birth:
			</strong>
			{{litter.DateOfBirth|date:'MM.dd.yyyy'}}
		</p>

		<p>
			<strong>
				Number of puppies and sex:
			</strong>
			{{litter.Puppies}}
		</p>

		<p>
			<strong>
				Color:
			</strong>
			{{litter.Colors}}
		</p>
		<ul class="list-unstyled">
			<li ng-repeat="p in litter.Photos">
				<img class="img-responsive" ng-src="{{p.file64}}">
				<h5>
					{{p.caption}}
				</h5>
			</li>
		</ul>
	</div>
</div>

