<div class="messages-wrapper">
	<!--<div ng-show="messages.corrUsers.length==0">-->
	<!--<p class="well well-sm">You do not have any messages. </p>-->
	<!--</div>-->
	<div class="col-xs-4 aside-messages">
		<!--<div class="col-xs-4 aside-messages" ng-show="messages.corrUsers.length>0">-->
		<div class="scrollBarAside">
			<div class="scrollBoxAside">
				<ul class="nav nav-pills nav-stacked messageUserList">
					<li class="cursor-p text-center" ng-click="messages.SetSelectedUser($index)"
					    ng-repeat="u in messages.fireMessages | selectUsers:isTrash">
						<a href="" class="displayMessageSender">
							<img class="thumbnail th-sender img-responsive"
							     ng-src="../../imgdir/{{u}}/myimg/mainpic.jpg"
							     alt="">
							{{u}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-8 col-messages">
		<div class="messagesScrollBar">
			<div class="messagesScrollBox">
				<ul class="list-unstyled">
					<li class="li-message-body"
					    ng-repeat="m in messages.fireMessages|selectedUserMessages:isTrash:messages.selectedUser">
						<ul class="list-inline">
							<li class="userName" ng-hide="m.amISender">{{messages.selectedUser |
								unfire}}
							</li>
							<li class="userName" ng-show="m.amISender">Me</li>
							<li class="pull-right ">
								<p class="messageDate text-muted">
									<i class="fa fa-calendar"></i>
									{{m.sent | date: 'mediumDate'}}
								</p>
							</li>
						</ul>
						<p class="p-message-body">
							{{m.body}}
						</p>
						<hr/>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="isTrash" class="trash-buttons pull-right">
			<button class="btn btn-danger" ng-click="messages.DeleteForever()">Delete Forever</button>
			<button class="btn btn-success" ng-click="messages.Recover()">Recover</button>
		</div>
		<div ng-hide="isTrash" class="">
			<h4 class="h4-reply">
				Write a reply....</h4>

			<form action="" role="form">

				<div class="form-group form-group-reply">
					<textarea name="body" class="form-control" ng-model="messages.reply.body" id="body" cols="30"
					          rows="10">

						{{reply.body}}

					</textarea>
				</div>
				<div class="pull-right btn-send-container">
					<button class="btn btn-danger" ng-click="messages.Delete()">Delete Conversation</button>
					<button class="btn btn-primary btn-send" ng-click="messages.Send()">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>