<div>
	<div class="well">
		<form name="short-message">
			<div class="form-group">
				<label>To:</label>
		<span>
			{{addressat}}
		</span>
			</div>
			<div class="form-group">
				<textarea class="form-control" name="message" id="message"
				          cols="130" rows="10"
				          ng-model="message.body">
				</textarea>
			</div>
		</form>
		<button class="btn btn-primary" ng-click="sendAdminMessage()">Send</button>
		<button class="btn btn-default" ng-click="cancelAdminMessage($index)">Cancel</button>
	</div>
</div>