<div class="messages-wrapper">
	<!--<div ng-show="messages.corrUsers.length==0">-->
	<!--<p class="well well-sm">You do not have any messages. </p>-->
	<!--</div>-->
	<div class="col-xs-4 aside-messages">
		<!--<div class="col-xs-4 aside-messages" ng-show="messages.corrUsers.length>0">-->
		<div class="scrollBarAside">
			<div class="scrollBoxAside">
				<ul class="nav nav-pills nav-stacked messageUserList">
					<li class="cursor-p" ng-click="messages.SetSelectedUser($index)"
					    ng-repeat="u in messages.fireMessages | selectUsers:isTrash">
						<a href="" class="displayMessageSender"><i class="fa fa-user fa-md"></i>
							{{u}}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-xs-8 col-messages">
		<div class="messagesScrollBar">
			<div class="messagesScrollBox">
			<ul class="list-unstyled">
					<li class="shuffle-animation"
					    ng-repeat="m in messages.fireMessages|selectedUserMessages:isTrash:messages.selectedUser">
						<div class="row">
							<div class="col-xs-2 userName" ng-hide="m.amISender">{{messages.selectedUser |
								unfire}}
							</div>
							<div class="col-xs-2 userName" ng-show="m.amISender">Me</div>
							<div class="col-xs-4 pull-right ">
								<div class="messageDate text-muted">
									{{m.sent | date: 'mediumDate'}}
								</div>
							</div>
						</div>
						<p>
							{{m.body}}
						</p>
						<hr/>
					</li>
				</ul>
			</div>
		</div>

		<div class="">
			<h4 class="h4-reply">
				Write a reply....</h4>

			<form action="" role="form">

				<div class="form-group form-group-reply">
					<textarea name="body" class="form-control" ng-model="messages.reply.body" id="body" cols="30"
					          rows="10">

						{{reply.body}}

					</textarea>
				</div>
				<div class="pull-right btn-send-container">
					<button class="btn btn-danger" ng-click="messages.Delete()">Delete Conversation</button>
					<button class="btn btn-primary btn-send" ng-click="messages.Send()">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>