<div class="popover popover-plans">
	<div class="arrow"></div>

	<h3 class="popover-title text-center new-plan-title" ng-bind="title" ng-show="title"></h3>

	<div class="popover-content new-plan-content">
		<form role="form" action="">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Plan Name"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Price Monthly"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Discount"/>
			</div>
			<button class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
