<ul class="nav nav-stacked">
	<li><a class="sniff-menu a-profile-nav" ui-sref="user.profile.about1">My Profile</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Breeder-Profile">Manage Account</a></li>
	<li><a class="sniff-menu a-profile-nav" ui-sref="user.profile.messages">Messages</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">Upgrade</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">Following</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">Followers</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">Verifications</a></li>
	<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">View My Page</a></li>
</ul>