<div class="nav-wrapper">
	<ul class="nav nav-pills nav-stacked">
		<li ng-if="home.isLoggedIn && home.isAdmin">
			<a class="sniff-menu a-profile-nav" ui-sref="admin.management">
				Admin Panel</a>
		</li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.about1"> My Profile</a>
		</li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.manage">Manage Account</a></li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.upgrade">Upgrade</a></li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.messages">Messages</a></li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.followings">Following</a></li>
		<li ui-sref-active="active">
			<a class="sniff-menu a-profile-nav" ui-sref="user.profile.followers">Followers</a></li>
		<!--<li><a class="sniff-menu a-profile-nav" href="/Messages/Index">Verifications</a></li>-->
		<li><a class="sniff-menu a-profile-nav" href="#/profile/public/about">View My Page</a></li>
	</ul>
</div>