

.contentScroller {
    padding: 0px;
    overflow-y: auto;
    overflow-x: auto;
    visibility: hidden;
}

.content {
    visibility: visible;
    margin-right: -15px;
}

.main-content {
    background-color: white;
}


