body {
    background: url('img/home/left-grass-home.png') top left repeat-y,
    url('img/home/right-grass-home.png') top right repeat-y,
    url("img/home/landing_home.png") top center;

    background-size: 10%, 10%, 10%;
}

.contentScroller {
    overflow-y: auto;
    overflow-x: auto;
    visibility: hidden;
}

.content {
    visibility: visible;
}

.main-content {
    background-color: white;
}


