<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="profile" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
	<link rel="stylesheet" href="styles/sniff.css">
	<link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css">
	<link rel="stylesheet" href="css/jquery.Jcrop.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://help.typekit.com/customer/portal/articles/6780-adding-fonts-to-your-site">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- endbuild -->
</head>
<body ng-controller="HomeCtrl as home">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
	today</a> or <a
		href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
	experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-----{{home.auth.user}}---->
<div class="navbar navbar-default navbar-sniff">
	<div class="container navbar-sniff-content">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="logo-wrapper">
				<a ui-sref="generate">
					<img src="img/Logo_web.png" alt="Sniffsters Logo">
				</a>
			</div>
		</div>
		<div class="navbar-collapse collapse sniff-collapse">
			<ul class="nav navbar-nav">
				<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="home">HOME
				</a></li>
				<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.about">ABOUT
				</a></li>
				<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.breeders">BREEDERS
				</a></li>
				<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.dogs">DOGS
				</a></li>
				<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.explore">EXPLORE
				</a></li>
			</ul>
			<!--isloggedIn:{{home.isLoggedIn || false}}<br/>-->
			<!--AuthUser:{{home.auth.user || "null"}}-->
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="home.auth.user">
					<a class="hello-user" ui-sref="user.profile.about1({uname:home.userName})"
					   ng-if="home.isBreeder===true">Hello, {{home.nickName}}!</a>

					<a class="hello-user" ui-sref="looker.account({uname:home.userName})"
					   ng-if="home.isBreeder===false">Hello, {{home.nickName}}!</a>
				</li>

				<li>
					<a ng-show="home.auth.user" class="sniff-menu btn-logout"
					   ng-click="home.Logout()">LOG OUT
					</a>
					<a ng-hide="home.auth.user" class="sniff-menu"
					   ui-sref="sniff.login">LOG IN</a>

				</li>
				<li ng-hide="home.auth.user">
					<a class="sniff-menu" ui-sref="sniff.register">REGISTER</a>
				</li>
			</ul>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="collar col-xs-12">

		</div>
	</div>
</div>
<div class="search-bar-wrapper" ng-hide="home.IsSearchHidden">
	<div class="container search-bar-content">
		<div class="search-bar text-center">
			<form class="form-inline">
				<label class="quick-search">
					QUICK SEARCH
				</label>
				<input class="form-control input-search"
				       ng-model="searchBreed.val"
				       placeholder="Start typing breed"
				       ng-options="breed for breed in breeds"
				       bs-typeahead type="text">

				<input class="form-control input-search"
				       ng-model="searchLocation.val"
				       placeholder="Location"
				       ng-options="state.abbreviation as state.name for state in states"
				       bs-typeahead type="text">
				<button ng-click="fetchDog()"
				        class="btn btn-primary btn-fetch">
					<i class="fa fa-search"></i>
					Fetch
				</button>
			</form>
		</div>
	</div>
</div>

<div class="container body-content">
	<div class="main-content-wrapper">
		<div ui-view>
		</div>
		<!--<div ng-show="index.error" class="panel panel-default">Error in Database request. Check-->
		<!--Internet Connection-->
		<!--</div>-->
	</div>
</div>

<footer>
	<div class="container footer-container ">
		<div class="footer-content" ng-class="{'footer-background':!home.IsHome}">
			<div class="footer-text-container">
				<span class="copyright">COPYRIGHT ©2014 SNIFFSTERS LLC</span>
				<ul class="nav nav-pills navbar-right nav-footer">
					<li><a class="sniff-footer-menu" ui-sref="sniff.advertise">ADVERTISE</a></li>
					<li><a class="sniff-footer-menu" ui-sref="sniff.terms">TERMS</a></li>
					<li><a class="sniff-footer-menu" ui-sref="sniff.contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>

<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/toastr/toastr.js"></script>

<script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/angularfire.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
<script src="bower_components/angular-image-crop/image-crop.js"></script>

<!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>-->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/angular-strap/dist/modules/parse-options.min.js"></script>


<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- build:js scripts/plugins.js -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/services/DataService.js"></script>
<script src="scripts/services/CopyProfileService.js"></script>
<script src="scripts/models/IBreederProfile.js"></script>

<script src="scripts/directives/BreederDetails.js"></script>
<script src="scripts/filters/BoolString.js"></script>
<script src="scripts/filters/GalleryActive.js"></script>
<script src="scripts/filters/SpacesToDashes.js"></script>
<script src="scripts/filters/TitleLength.js"></script>

<script src="scripts/directives/aboutInfo.js"></script>
<script src="scripts/directives/aboutInfoEdit.js"></script>
<!--<script src="scripts/filters/Test.js"></script>-->
<script src="scripts/directives/aboutInfoEdit.js"></script>
<script src="scripts/directives/feedback.js"></script>
<script src="scripts/directives/feedbackEdit.js"></script>
<script src="scripts/directives/detailsInfo.js"></script>
<script src="scripts/directives/detailsInfoEdit.js"></script>
<script src="scripts/directives/previousPuppies.js"></script>
<script src="scripts/controllers/PhotosCtrl.js"></script>
<script src="scripts/filters/SpacesToDashes.js"></script>
<script src="scripts/directives/photoGallery.js"></script>
<script src="scripts/directives/photoGalleryEdit.js"></script>
<script src="scripts/services/GalleryService.js"></script>
<script src="scripts/filters/TitleLength.js"></script>
<script src="scripts/directives/spinDiv.js"></script>
<script src="scripts/directives/litterNew.js"></script>
<script src="scripts/controllers/GenerateCtrl.js"></script>
<script src="scripts/controllers/HomeCtrl.js"></script>
<script src="scripts/controllers/AboutCtrl.js"></script>
<script src="scripts/controllers/BreedersCtrl.js"></script>
<script src="scripts/controllers/DogsCtrl.js"></script>
<script src="scripts/controllers/ExploreCtrl.js"></script>
<script src="scripts/controllers/AdvertiseCtrl.js"></script>
<script src="scripts/controllers/TermsCtrl.js"></script>
<script src="scripts/controllers/ContactCtrl.js"></script>
<script src="scripts/controllers/AdminPanelCtrl.js"></script>
<script src="scripts/controllers/SubscriptionsCtrl.js"></script>
<script src="scripts/controllers/LookingForDogCtrl.js"></script>
<script src="scripts/controllers/ForBreedersCtrl.js"></script>
<script src="scripts/controllers/LoginCtrl.js"></script>
<script src="scripts/controllers/RegisterCtrl.js"></script>
<script src="scripts/controllers/MessagesCtrl.js"></script>
<script src="scripts/controllers/CreateMessageCtrl.js"></script>
<script src="scripts/controllers/UserManagementCtrl.js"></script>
<script src="scripts/controllers/FollowingsCtrl.js"></script>
<script src="scripts/controllers/FollowersCtrl.js"></script>
<script src="scripts/directives/setter.js"></script>
<script src="scripts/directives/newMessage.js"></script>
<script src="scripts/directives/setterIshome.js"></script>
<script src="scripts/directives/messageNavMenu.js"></script>
<script src="scripts/directives/userProfileNav.js"></script>
<script src="scripts/directives/breederProfileNav.js"></script>
<script src="scripts/directives/events.js"></script>
<script src="scripts/directives/currentLitters.js"></script>
<script src="scripts/directives/cover.js"></script>
<script src="scripts/directives/svMessages.js"></script>
<script src="scripts/directives/subscriptionPlans.js"></script>
<script src="scripts/controllers/FollowersCtrl.js"></script>
<script src="scripts/filters/SelectUsers.js"></script>
<script src="scripts/filters/SelectedUserMessages.js"></script>
<script src="scripts/filters/Unfire.js"></script>
<script src="scripts/controllers/LookerCtrl.js"></script>
<script src="scripts/directives/lookerProfileNav.js"></script>
<script src="scripts/directives/breedInfo.js"></script>
<script src="scripts/directives/randomGallery.js"></script>
<script src="scripts/controllers/LookerAccountCtrl.js"></script>
<script src="scripts/directives/svImageUpload.js"></script>
<script src="scripts/filters/Unshared.js"></script>
<script src="scripts/directives/galleryNew.js"></script>
<script src="scripts/directives/svFileSelect.js"></script>
<script src="scripts/directives/svImage.js"></script>
<script src="scripts/directives/svImageWrapper.js"></script>
<script src="scripts/directives/svCropCover.js"></script>
<script src="scripts/directives/svSlider.js"></script>
<script src="scripts/directives/svLitterEdit.js"></script>
<script src="scripts/directives/svLitter.js"></script>
<script src="scripts/controllers/UpgradeCtrl.js"></script>
<script src="scripts/controllers/ManageBreederAccountCtrl.js"></script>
<script src="scripts/services/FinduserService.js"></script>
<script src="scripts/controllers/BreedsCtrl.js"></script>
<script src="scripts/directives/svSearchFeature.js"></script>
<script src="scripts/directives/svDeletePopover.js"></script>
<script src="scripts/directives/svContactModal.js"></script>
<script src="scripts/filters/HideAdmin.js"></script>
<script src="scripts/directives/svPlanOffer.js"></script>
<script src="scripts/directives/svPwCheck.js"></script>
<!-- links -->
<script src="scripts/controllers/PuppiesCtrl.js"></script>
<script src="scripts/controllers/TestimonialsCtrl.js"></script>
<script src="scripts/controllers/IndexCtrl.js"></script>
<script src="scripts/app.js"></script>
<script src="plugin/jquery.slimscroll.min.js"></script>

<!--utils-->
<script src="scripts/utils/BreederGenerator.js"></script>
<script src="scripts/utils/LookerGenerator.js"></script>
<script src="scripts/utils/IUserGenerator.js"></script>
<script src="scripts/models/ILookerProfile.js"></script>
<script src="bower_components/jcrop/jquery.Jcrop.min.js"></script>
</body>
</html>