<!doctype html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html ng-app="profile" class="no-js"> <!--<![endif]-->
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base href="/"/>
	<title></title>
	<meta name="description" content="">
	<script src="js/spin.min.js"></script>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
	<style>
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none !important;
		}
	</style>
	<link rel="stylesheet" href="styles/sniff.css">
	<link rel="stylesheet" href="plugin/angular-ratings-master/angular.ratings.css">
	<link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css">
	<link rel="stylesheet" href="css/jquery.Jcrop.min.css">
	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="final.css">
	<!-- endbuild -->
</head>
<body ng-controller="HomeCtrl as home">
<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function () {
		FB.init({
			appId: '365015036974181',
			xfbml: true,
			version: 'v2.0'
		});
	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {
			return;
		}
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
	today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
	better
	experience this site.</p>
<![endif]-->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-----{{home.auth.user}}---->
<div class="contentScroller container-fluid">
	<div class="content container-fluid ">
		<div class="navbar navbar-default navbar-sniff">
			<div class=" navbar-sniff-content">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo-wrapper">
						<a ui-sref="home">
							<img src="img/Logo_web.png" alt="Sniffsters Logo">
						</a>
					</div>
				</div>
				<div class="navbar-collapse collapse sniff-collapse">
					<ul class="nav navbar-nav">
						<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="home">HOME
						</a></li>
						<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.about">ABOUT
						</a></li>
						<li><a class="sniff-menu" ui-sref-active="active-custom"
						       ui-sref="sniff.breeders({breed:'',location:''})">BREEDERS
						</a></li>
						<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.dogs">DOGS
						</a></li>
						<li><a class="sniff-menu" ui-sref-active="active-custom" ui-sref="sniff.explore">EXPLORE
						</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-cloak>
						<li ng-show="home.auth.user">
							<a class="hello-user" ui-sref="user.profile.about1({uname:home.userName,asuser:''})"
							   ng-if="home.isBreeder===true">Hello, {{home.nickName}}!
							</a>
							<a class="hello-user" ui-sref="looker.account({uname:home.userName})"
							   ng-if="home.isBreeder===false">Hello, {{home.nickName}}!
							</a>
						</li>
						<li ng-if="home.auth.user">
							<a class="sniff-menu btn-logout" ng-click="home.Logout()">LOG OUT
							</a>
						</li>
						<li ng-if="!home.auth.user">
							<sv-login-popover lp-shown="lpShown" rp-shown="rpShown" home="home"
							                  ng-click="loginPopover()"></sv-login-popover>
						</li>
						<li ng-if="!home.auth.user">
							<sv-register-popover lp-shown="lpShown" rp-shown="rpShown" home="home"
							                     ng-click="registerPopover()"></sv-register-popover>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="" ng-if="!home.IsHome">
			<div class="row">
				<div class="collar col-xs-12"></div>
			</div>
		</div>
		<!--<div class="">
			<div class="row">
				<div class="col-xs-12 trial-fill">
						<div class="mycontent">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
								deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
								provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et
								dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
								soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
								possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et
								aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et
								molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
								voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
						</div>
				</div>
			</div>
		</div>-->
		<div class="body-wrapper" ng-class="{'home-height':home.IsHome}">
			<div class="">
				<!--Colar Home Page-->
				<!--<div class="" ng-if="home.IsHome">-->
				<!--<div class="row">-->
				<!--<div class="collar-home col-xs-12"></div>-->
				<!--</div>-->
				<!--</div>-->
				<div class="search-bar-wrapper" ng-hide="home.IsSearchHidden">
					<div class="search-bar-content">
						<div class="search-bar text-center">
							<form class="form-inline">
								<label class="quick-search">
									QUICK SEARCH
								</label>

								<div class="btn-group fetch-group" ng-cloak>
									<button type="button" class="btn btn-default search-dropdown align-left">
										{{searchBreed.val
										||
										'Breeds'}}
									</button>
									<button type="button" class="btn btn-default dropdown-toggle"
									        data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="b in breeds" ng-click="searchBreed.val=b">
											<a class="cursor-p">{{b}}</a>
										</li>
									</ul>
								</div>
								<div class="btn-group fetch-group" ng-cloak>
									<button type="button" class="btn btn-default search-dropdown align-left">
										{{searchLocation.val ||
										'Locations'}}
									</button>
									<button type="button" class="btn btn-default dropdown-toggle"
									        data-toggle="dropdown">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li ng-repeat="s in states" ng-click="searchLocation.val=s.abbreviation">
											<a class="cursor-p">{{s.name}}</a>
										</li>
									</ul>
								</div>
								<div class="btn-group">
									<button ng-click="fetchDog()" class="btn btn-primary btn-fetch fetch-group">
										<i class="fa fa-search"></i>
										Fetch
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="my-content" ng-if="!home.IsHome">
					<div class="row">
						<div class="col-xs-12">
							<div class="body-content" ng-cloak>
								<div ui-view></div>
							</div>
						</div>
					</div>
				</div>
				<!--Home Page View-->
				<div class="my-content" ng-if="home.IsHome">
					<div class="row">
						<div class="col-xs-1 left-side-home"></div>
						<div class="col-xs-10 main-content-home">
							<div class="">
								<div class="main-content-wrapper" ng-cloak>
									<div ui-view></div>
								</div>
							</div>
						</div>
						<div class="col-xs-1" ng-class="{'right-side-home':home.IsHome}"></div>
					</div>
				</div>
				<footer class="footer-home">
					<div class="footer-text-">
						<div class="row" ng-show="!home.IsHome">
							<div class="col-xs-3">
								<div class="copyright">COPYRIGHT ©2014 SNIFFSTERS LLC</div>
							</div>
							<div class="col-xs-9">
								<ul class="nav navbar-nav navbar-right nav-footer">
									<li><a class="sniff-footer-menu" ui-sref="sniff.advertise">ADVERTISE</a></li>
									<li><a class="sniff-footer-menu" ui-sref="sniff.terms">TERMS</a></li>
									<li><a class="sniff-footer-menu" ui-sref="sniff.contact">CONTACT</a></li>
								</ul>
							</div>
						</div>
						<div class=" fill-footer" ng-show="home.IsHome">
							<div class="row row-foot">
								<div class="foot-left col-xs-1"></div>
								<div class="foot-content col-xs-10"></div>
								<div class="foot-right col-xs-1"></div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
</div>
<!--</div>-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/toastr/toastr.min.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-strap/src/datepicker/datepicker.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/angularfire.min.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
<script src="bower_components/angular-image-crop/image-crop.js"></script>
<!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>-->
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/angular-strap/dist/modules/parse-options.min.js"></script>
<script src="bower_components/angular-strap/dist/modules/date-parser.min.js"></script>
<script src="bower_components/angular-strap/src/helpers/dimensions.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- build:js scripts/plugins.js -->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>-->
<!-- endbuild -->
<!-- build:js scripts/modules.js -->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/services/DataService.js"></script>
<script src="scripts/services/CopyProfileService.js"></script>
<script src="scripts/models/IBreederProfile.js"></script>
<script src="scripts/directives/BreederDetails.js"></script>
<script src="scripts/filters/BoolString.js"></script>
<script src="scripts/filters/GalleryActive.js"></script>
<script src="scripts/filters/SpacesToDashes.js"></script>
<script src="scripts/filters/TitleLength.js"></script>
<script src="scripts/directives/aboutInfo.js"></script>
<script src="scripts/directives/aboutInfoEdit.js"></script>
<!--<script src="scripts/filters/Test.js"></script>-->
<script src="scripts/directives/aboutInfoEdit.js"></script>
<script src="scripts/directives/feedback.js"></script>
<script src="scripts/directives/feedbackEdit.js"></script>
<script src="scripts/directives/detailsInfo.js"></script>
<script src="scripts/directives/detailsInfoEdit.js"></script>
<script src="scripts/directives/previousPuppies.js"></script>
<script src="scripts/controllers/PhotosCtrl.js"></script>
<script src="scripts/filters/SpacesToDashes.js"></script>
<script src="scripts/directives/photoGallery.js"></script>
<script src="scripts/directives/photoGalleryEdit.js"></script>
<script src="scripts/services/GalleryService.js"></script>
<script src="scripts/filters/TitleLength.js"></script>
<script src="scripts/directives/spinDiv.js"></script>
<script src="scripts/directives/litterNew.js"></script>
<script src="scripts/controllers/GenerateCtrl.js"></script>
<script src="scripts/controllers/HomeCtrl.js"></script>
<script src="scripts/controllers/AboutCtrl.js"></script>
<script src="scripts/controllers/BreedersCtrl.js"></script>
<script src="scripts/controllers/DogsCtrl.js"></script>
<script src="scripts/controllers/ExploreCtrl.js"></script>
<script src="scripts/controllers/AdvertiseCtrl.js"></script>
<script src="scripts/controllers/TermsCtrl.js"></script>
<script src="scripts/controllers/ContactCtrl.js"></script>
<script src="scripts/controllers/AdminPanelCtrl.js"></script>
<script src="scripts/controllers/SubscriptionsCtrl.js"></script>
<script src="scripts/controllers/LookingForDogCtrl.js"></script>
<script src="scripts/controllers/ForBreedersCtrl.js"></script>
<script src="scripts/controllers/LoginCtrl.js"></script>
<script src="scripts/controllers/RegisterCtrl.js"></script>
<script src="scripts/controllers/MessagesCtrl.js"></script>
<script src="scripts/controllers/CreateMessageCtrl.js"></script>
<script src="scripts/controllers/UserManagementCtrl.js"></script>
<script src="scripts/controllers/FollowingsCtrl.js"></script>
<script src="scripts/controllers/FollowersCtrl.js"></script>
<script src="scripts/directives/setter.js"></script>
<script src="scripts/directives/newMessage.js"></script>
<script src="scripts/directives/setterIshome.js"></script>
<script src="scripts/directives/messageNavMenu.js"></script>
<script src="scripts/directives/userProfileNav.js"></script>
<script src="scripts/directives/breederProfileNav.js"></script>
<script src="scripts/directives/events.js"></script>
<script src="scripts/directives/currentLitters.js"></script>
<script src="scripts/directives/cover.js"></script>
<script src="scripts/directives/svMessages.js"></script>
<script src="scripts/directives/subscriptionPlans.js"></script>
<script src="scripts/controllers/FollowersCtrl.js"></script>
<script src="scripts/filters/SelectUsers.js"></script>
<script src="scripts/filters/SelectedUserMessages.js"></script>
<script src="scripts/filters/Unfire.js"></script>
<script src="scripts/controllers/LookerCtrl.js"></script>
<script src="scripts/directives/lookerProfileNav.js"></script>
<script src="scripts/directives/breedInfo.js"></script>
<script src="scripts/directives/randomGallery.js"></script>
<script src="scripts/controllers/LookerAccountCtrl.js"></script>
<script src="scripts/directives/svImageUpload.js"></script>
<script src="scripts/filters/Unshared.js"></script>
<script src="scripts/directives/galleryNew.js"></script>
<script src="scripts/directives/svFileSelect.js"></script>
<script src="scripts/directives/svImage.js"></script>
<script src="scripts/directives/svImageWrapper.js"></script>
<script src="scripts/directives/svCropCover.js"></script>
<script src="scripts/directives/svSlider.js"></script>
<script src="scripts/directives/svLitterEdit.js"></script>
<script src="scripts/directives/svLitter.js"></script>
<script src="scripts/controllers/UpgradeCtrl.js"></script>
<script src="scripts/controllers/ManageBreederAccountCtrl.js"></script>
<script src="scripts/services/FinduserService.js"></script>
<script src="scripts/controllers/BreedsCtrl.js"></script>
<script src="scripts/directives/svSearchFeature.js"></script>
<script src="scripts/directives/svDeletePopover.js"></script>
<script src="scripts/directives/svContactModal.js"></script>
<script src="scripts/filters/HideAdmin.js"></script>
<script src="scripts/directives/svPlanOffer.js"></script>
<script src="scripts/directives/svPwCheck.js"></script>
<script src="scripts/directives/svStartPlanButton.js"></script>
<script src="scripts/controllers/PaymentSuccessCtrl.js"></script>
<script src="scripts/controllers/PaymentCancelCtrl.js"></script>
<script src="scripts/services/PlankeeperService.js"></script>
<script src="scripts/controllers/PaymentSuccessAnnuallyCtrl.js"></script>
<script src="scripts/controllers/PaymentCancelAnnuallyCtrl.js"></script>
<script src="scripts/directives/svSpinner.js"></script>
<script src="scripts/directives/svLoginPopover.js"></script>
<script src="scripts/directives/svRegisterPopover.js"></script>
<script src="scripts/directives/svAddPrevPuppies.js"></script>
<script src="scripts/directives/svShare.js"></script>
<script src="scripts/directives/svSvUpgradeNotification.js"></script>
<script src="scripts/services/UnamebyemailService.js"></script>
<!-- links -->
<script src="scripts/controllers/PuppiesCtrl.js"></script>
<script src="scripts/controllers/TestimonialsCtrl.js"></script>
<script src="scripts/controllers/IndexCtrl.js"></script>
<script src="scripts/app.js"></script>
<script src="plugin/jquery.slimscroll.min.js"></script>
<!--utils-->
<script src="scripts/utils/BreederGenerator.js"></script>
<script src="scripts/utils/LookerGenerator.js"></script>
<script src="scripts/utils/IUserGenerator.js"></script>
<script src="scripts/models/ILookerProfile.js"></script>
<script src="bower_components/jcrop/jquery.Jcrop.min.js"></script>
<script src="plugin/angular-ratings-master/angular.ratings.js"></script>
</body>
</html>