<div class="modal" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/html">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h3 class="modal-title">Add Previous Puppies Pictures</h3>
			</div>

			<div class="modal-body">
				<button class="btn btn-link pull-right" ng-show="g.Photos.length"
				        ng-click="savePrevPuppies();$hide()">Save Gallery
				</button>

				<div class="form-group">
					<label for="title"> Gallery Title</label>
					<input class="form-control gal-title"
					       id="title" type="text"
					       ng-model="g.Title">
				</div>

				<div sv-slider h="580">

					<sv-image-upload ng-if="home.isOwner"
					                 files="g.Photos"
					                 is-mult="true"
					                 file-size="3000000"
					                 btn-title="{{btnTitle}}">
					</sv-image-upload>

					<a class="btn btn-link pull-right"
					   ui-sref="sniff.forBreeders({scroll:1})"
					   ng-show="home.isOwner && (!home.subscription || (home.subscription.Galleries>0 && index.galleriesNumber>home.subscription.Galleries))">

						Upgrade subscription
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
