<div class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body">
				<form name="form" id="form" role="form" novalidate>
					<div class="form-group">
						<label>To:</label>
		<span>
			{{b.profile.UserName || index.BreederName}}
		</span>
					</div>
					<div class="form-group has-feedback" ng-class="{'has-error':form.message.$invalid}">
						<label>Your message:</label>
						<span class="textMuted">Required</span>
			<span ng-show="form.message.$error.maxlength"
			      class="text text-danger pull-right  maxsymb">Max 1000 symbols!</span>
						<textarea class="form-control" name="message" id="message"
						          cols="130" rows="10"
						          ng-maxlength="1000"
						          ng-model="message.body"
								>
						</textarea>
					</div>
				</form>
				<button ng-show="b.profile.UserName" class="btn btn-sm btn-primary"
				        ng-click="sendNewMessage(home.userName, b.profile.UserName, b.profile.isBreeder);$hide()">Send
				</button>

				<button class="btn btn-sm btn-primary"
				        ng-hide="b.profile.UserName"
				        ng-disabled="form.$pristine || form.invalid"
				        ng-click="sendNewMessage(home.userName, index.BreederName, b.profile.isBreeder);$hide()">Send
				</button>
			</div>
		</div>
	</div>
</div>
