<div class="modal" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/html">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind="title"></h4>
			</div>
			<div class="modal-body">
				Username:
				<br/>
				<input type="text" ng-model="username.val">
			</div>
			<button ng-click="setUsername(username.val)">Choose this username</button>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
			</div>
		</div>
	</div>
</div>
