<div class="popover popover-login" tabindex="-1" role="dialog" ng-show="!home.auth.user">
	<div class="arrow popover-arrow-register"></div>
	<div class="popover-dialog">
		<div class="popover-content">
			<div>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
			<div class="popover-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="alert alert-danger small" ng-show="incorrectCredentials">
							Incorrect login or password
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email"
							       ng-class="{error:incorrectCredentials}"
							       class="form-control"
							       id="email"
							       name="email"
							       placeholder="Enter your email"
							       ng-model="login.email">
						</div>
						<div class="form-group">
							<label for="pass">Password</label>
							<input type="password"
							       class="form-control"
							       id="pass"
							       placeholder="Enter your password"
							       ng-model="login.pass">
						</div>
						<div class="text-right">
							<button class="btn btn-danger btn-sniff-md h-sign-up-white"
							        ng-click="home.Signin(login.email, login.pass)">
								LOG IN
							</button>
						</div>
						</form>
						<div class="h-sign-up-black">
							Or
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 ">
						<div id="socialLoginForm" class="text-right">
							<button class="btn btn-primary btn-facebook-login btn-sniff-md h-sign-up-white"
							        ng-click="home.FacebookSignin()">
								<i class="fa fa-facebook"></i>
								LOG IN
							</button>
						</div>
					</div>
				</div>
			</div>

			<ul class="list-unstyled ul-login">
				<li class="ad-text-sm"> NEW TO SNIFFSTERS?
				</li>
				<li>
					<button class="no-pad-margin btn-link btn h-sign-up"
					        data-template="views/modals/register.html"
					        data-placement="left"
					        bs-popover="popoverRegister"
							>SIGN UP HERE
						<i class="fa fa-caret-right"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
