<div class="popover popover-register" tabindex="-1" role="dialog" ng-show="!home.auth.user">
	<div class="arrow popover-arrow-register"></div>
	<div class="popover-dialog">
		<div class="popover-content">
			<div>
				<button type="button" class="close" ng-click="$hide()">&times;</button>
			</div>
			<div class="popover-body">
				<div class="row">
					<div class="col-xs-12">

						<form role="form" name="form" id="form" novalidate>
							<div class="form-group has-feedback"
							     ng-class="{'has-error':(form.email.$dirty && form.email.$invalid) || userExists}">
								<label for="email">Email address</label>
								<input type="email"
								       class="form-control"
								       id="email"
								       name="email"
								       placeholder="Enter email"
								       ng-model="email"
								       required>
							</div>
							<div class="form-group has-feedback"
							     ng-class="{'has-error':(form.pass.$dirty && form.pass.$invalid)}">
								<label for="pass">Password</label>
								<span class="textMuted pass-restriction">More then 6 symbols</span>
								<input type="password"
								       class="form-control"
								       id="pass"
								       name="pass"
								       ng-minlength="6"
								       placeholder="Password"
								       ng-model="pass"
								       ng-required>
							</div>
							<div class="form-group has-feedback"
							     ng-class="{'has-error':(form.confpass.$dirty && form.confpass.$invalid)}">
								<label for="confpass">Confirm Password</label>
								<input type="password"
								       class="form-control"
								       sv-pw-check="pass"
								       ng-minlength="6"
								       id="confpass"
								       name="confpass"
								       placeholder="Password"
								       ng-model="confpass"
								       required>
							</div>

							<div class="form-group looking-for">
								<input id="looker" ng-required="" type="radio" ng-model="isRegisteredBreeder"
								       ng-checked="1" ng-value=false>
								Looking for a dog <br/>

								<input id="breeder" ng-required="" type="radio" ng-model="isRegisteredBreeder"
								       ng-value=true> Looking for a
								home for my dogs <br/>

							</div>

							<div class="text-right">
								<input type="submit" class="btn btn-danger btn-sniff-md h-sign-up-white"
								       value="REGISTER"
								       ng-disabled="form.$invalid"
								       ng-click="register(email,pass,confpass,isRegisteredBreeder)"/>
							</div>
						</form>
						<p class="p-or">
							Or
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 ">
						<div id="socialLoginForm" class="text-right">
							<button class="btn btn-primary btn-facebook-login btn-sniff-md h-sign-up-white"
							        ng-click="home.FacebookSignin()">
								<i class="fa fa-facebook"></i>
								LOG IN
							</button>
						</div>
					</div>
				</div>


			</div>

			<ul class="list-unstyled ul-login">
				<li class="ad-text-sm"> ALREADY HAVE AN ACCOUNT?</br>
				</li>

				<li>
					<button class="no-pad-margin btn-link btn h-sign-up"
					        data-template="views/modals/login.html"
					        data-placement="left"
					        bs-popover="popoverLogin"
							>LOG IN HERE
						<i class="fa fa-caret-right"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
