<div class="row sniff-row">
	<div class="col-xs-1 left-side"></div>
	<div class="col-xs-10 sniff-content-wrapper">
		<ul class="breadcrumb">
			<li class="active">
			<a ui-sref="admin.management">
					User Management
				</a>
			</li>
			<li>
				<a ui-sref="admin.subscriptions">
					Subscription Plans
				</a>
			</li>

			<li>
				<a ui-sref="admin.management">
				Subscription Plans Features
				</a>
			</li>
		</ul>
		<div ui-view></div>
	</div>


	<div class="col-xs-1 right-side"></div>
	<!-- PUT DIRECTIVES BELOW -->
</div>
