<h2 class="sniff-head-info">Breeders</h2>

<hr/>
<div class="row">
	<div class="col-xs-12">
		<h4>Search result for:</h4>

		<p class="searchResult">
		<ul class="list-inline">
			<li><em>Breed:</em>
				{{searchBreed || 'all breeds'}}
			</li>
			<li><em>Location:</em>
				{{searchLocation || 'all locations'}}
			</li>
		</ul>
		</p>

		<!-- PUT DIRECTIVES BELOW -->
	</div>
</div>
<br/>
<h4 class="text-warning" ng-cloak="" ng-hide="isDataLoading || breeders.length">No Results Found</h4>
<div class="well" sv-slider h="1780" ng-show="breeders.length">

	<button type="button" class="btn btn-default btn-search-panel"
	        ng-model="sortFeature.val"
	        ng-options="sort.val as sort.name for sort in sortBy"
	        placeholder="Sort By"
	        bs-select>
		Sort By
	</button>
	<div class="searchBreederDescription">
		<ul class="list-unstyled" ng-cloak>
		<li ng-repeat="b in breeders|orderBy:sortFeature.val">
				<hr/>
				<div class="row ">
					<div class="col-md-3">
						<div class="thumbnail thPictureSmall">
							<a ui-sref="user.profile.about1({uname:b.profile.Email})">
								<img ng-show="(b.profile.images.avatar|orderByPriority)[0]"
								     ng-src="{{(b.profile.images.avatar|orderByPriority)[0]}}" alt="">
								<img ng-hide="(b.profile.images.avatar|orderByPriority)[0]"
								     ng-src="../imgdir/default/myimg/mainpic.jpg" alt="">
							</a>
						</div>
						<div class="rating-container">
							<angular-ratings ng-model="b.rating"></angular-ratings>
						</div>
					</div>

					<div class="col-md-5">
						<div class="">
							<h3 class="text-info breederName">

								<a ui-sref="user.profile.about1({uname:b.profile.Email})">
									{{b.profile.FirstName}} {{b.profile.LastName}}
								</a>
							</h3>

							<h4 class="hBreederWebsite">
								<a class="text-muted" href="#">
									{{b.profile.Website}}
								</a>
							</h4>

							<ul class="list-unstyled ulBreederCard">
								<li>
									<strong>Available litters:</strong>
									{{b.LittersNumber}}
								</li>
								<li>
									<strong>Vet services:</strong>
									<span ng-show="!IsEdit">{{index.BreederProfile.VetServices|boolString}}</span>

									<div>
									</div>
								</li>
								<li>
									<strong>Shipping:</strong>
									<span ng-show="!IsEdit">{{index.BreederProfile.Shipping|boolString}}</span>

								</li>
							</ul>
							<br/>
						</div>
					</div>

					<div class="col-md-4">
						<ul class="list-unstyled ulBreederCard text-right">
							<li class="cityState">
								{{b.profile.City}}, {{b.profile.State}}
							</li>
							<li>
								{{b.profile.Phone}}
							</li>
							<li>
								{{b.profile.Email}}
							</li>
						</ul>
					</div>

					<ul class="list-inline pull-right">
						<li>
							<sv-contact-modal></sv-contact-modal>
						</li>
						<li ng-show="home.userName && home.userName!=b.profile.Email">
							<button class="btn btn-link sniff-head-sm"
							        ng-hide="home.Followings.indexOf(b.profile.Email)>-1"
							        role="button" ng-click="home.followUser(home.userName,b.profile.Email)">
								Follow +
							</button>

							<button class="btn btn-link sniff-head-sm"
							        ng-show="home.Followings.indexOf(b.profile.Email)>-1"
							        role="button" ng-click="home.unFollowUser(home.userName,b.profile.Email)">
							UnFollow -
							</button>

						</li>
					</ul>

				</div>

			</li>
		</ul>
	</div>
</div>