<h2 class="sniff-head-info">Followings</h2>

<div class="searchBreederDescription" ng-cloak sv-slider h="1200">
	<ul class="list-unstyled">
		<li class="shuffle-animation" ng-repeat="f in followings|orderByPriority">
			<hr/>
			<div class="row ">
				<div class="col-xs-3">
					<div class="thumbnail no-b-margin" ng-if="f.Email.length>0">
						<a ui-sref="user.profile.about1({uname:f.Email})">
							<img ng-src="../imgdir/{{f.Email}}/myimg/mainpic.jpg" alt="">
						</a>
					</div>

					<div class="raiting-sm">
						<ul class="list-inline">
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">

								<img src="../img/raiting-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-16.png" alt="altText">
							</li>
						</ul>
					</div>
				</div>

				<div class="col-xs-6">
					<div class="">
						<h3 class="breederName">
							<a class="a-name " ui-sref="user.profile.about1({uname:f.Email})">
								{{f.KennelName}}
							</a>
						</h3>

						<h4 class="hBreederWebsite text-muted">
							{{f.Website}}
						</h4>

						<h4 class="hBreederWebsite text-muted">
							{{f.City}} {{f.State}}
						</h4>
						<br/>
					</div>
				</div>

				<div class="col-xs-3 text-right">
					<p class="text-right" ng-show="home.FireUname">
						<button class="btn btn-tiny btn-default btn-follow" ng-hide="home.Followings.indexOf(f)>-1"
						        role="button" ng-click="home.followUser(home.FireUname,f)">
							Follow
						</button>

						<button class="btn btn-default btn-tiny btn-follow" ng-show="home.Followings.indexOf(f)>-1"
						        role="button" ng-click="home.unFollowUser(home.FireUname,f)">
							UnFollow
						</button>
					</p>
					<sv-contact-modal></sv-contact-modal>
				</div>
			</div>
		</li>
	</ul>
</div>