<h2 class="sniff-head-info">Followers</h2>

<div class="searchBreederDescription">
	<ul class="list-unstyled">
		<li class="shuffle-animation" ng-repeat="b in home.Followers">
			<hr/>
			<div class="row ">
				<div class="col-xs-3">
					<div class="thumbnail no-b-margin">
						<a ui-sref="user.profile.about1({uname:b.profile.Email})">
							<img ng-src="../imgdir/{{b}}/myimg/mainpic.jpg" alt="">
						</a>
					</div>

					<div class="raiting-sm">
						<ul class="list-inline">
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-info-16.png" alt="altText">
							</li>
							<li class="bone-xs">

								<img src="../img/raiting-16.png" alt="altText">
							</li>
							<li class="bone-xs">
								<img src="../img/raiting-16.png" alt="altText">
							</li>
						</ul>
					</div>


				</div>

				<div class="col-xs-6">
					<div class="">
						<h3 class="breederName">
							<a class="a-name" href="#">
								{{b.profile.FirstName}} {{b.profile.LastName}}
								Dogs Paradise
							</a>
						</h3>

						<h4 class="hBreederWebsite">
							<a class="text-muted" href="#">
								{{b.profile.City}} {{b.profile.State}}
								www.dogparadise.com
							</a>
						</h4>

						<h4 class="hBreederWebsite">
							<a class="text-muted" href="#">
								{{b.profile.City}} {{b.profile.State}}
								Chicago, IL
							</a>
						</h4>
						<br/>
					</div>
				</div>


				<div class="col-xs-3 text-right">
					<p class="text-right" ng-show="home.FireUname">
						<button class="btn btn-tiny btn-default btn-follow" ng-hide="home.Followings.indexOf(b)>-1"
						        role="button" ng-click="home.followUser(home.FireUname,b)">
							Follow
						</button>

						<button class="btn btn-default btn-tiny btn-follow" ng-show="home.Followings.indexOf(b)>-1"
						        role="button" ng-click="home.unFollowUser(home.FireUname,b)">
							UnFollow
						</button>

					</p>

					<button class="btn btn-default btn-tiny btn-follow" role="button">
						Contact
					</button>
				</div>
			</div>

		</li>
	</ul>
</div>