<h3 class="sniff-head-danger"> Create a Breeder Account
</h3>
<hr/>

<div sv-slider h="1800">
	<div class="scroll-content">
		<h2 class="sniff-head"> Hi & Welcome!</h2>
		<p class="">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
		</p>

		<h2 class="sniff-head">Paragraph about current demand & benefits for breeders</h2>

		<p class="">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
		</p>


		<div class="text-center label-wrapper">
			<span class="label label-warning sniff-label-warning">We will help you to find a home for your puppies</span>
		</div>

		<div class="ad-wrapper">
			<img class="img-responsive" src="img/sniff-ad.jpg"
			     alt="Sniffsers will help you to find a home for your puppy.">

		</div>
		<div class="text-center label-wrapper">
			<span class="label label-warning sniff-label-warning">Start today by creating a profile</span>
		</div>

		<h2 class="sniff-head">Do not miss out an opportunity to showcase your dogs...</h2>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
			semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
			tellus.
		</p>

		<subscription-plans home="home" is-admin="false"></subscription-plans>

	</div>
</div>

