<h2 class="sniff-head"> Hi & Welcome!</h2>


<p class="">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
</p>

<h2 class="sniff-head">Paragraph about current demand & benefits for breeders</h2>

<p class="">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
	Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada
	semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium
	tellus.
</p>


<span class="label label-warning sniff-label-warning">We will help you to find a home for your puppies</span>


<br/>
<br/>


<aside class="col-sm-4 ">

	<div class="well">
		<h3 class="hCreateAccount">
			Create a Breeder Account
		</h3>
		<br/>

		<p>
			@Html.ActionLink("REGISTER", "Register", "Account", routeValues: null, htmlAttributes: new { @class =
			"btn btn-default btn-lg btn-block", id = "registerLink" })
		</p>
	</div>
</aside>
