<div class="home-wrapper">
	<div class="welcomeCont">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 welcomeGrid">
				<div class="jumbotron homeJumbo">
					<h2 class="welc-text">WELCOME!</h2>

					<h3 class="text-center">HOW CAN WE HELP YOU?</h3>

					<div class="home-btn-wrapper">
						<div class="btn-group btn-group-justified home-btn">
							<a class="btn btn-primary btn-looking" ui-sref="looking-for-dog">I'm looking for a dog</a>
							<a class="btn btn-danger btn-looking" ui-sref="sniff.forBreeders">I'm a breeder</a>
						</div>
					</div>
					<div class="home-links">
						<span class="let-top">NOT SURE?</span>

						<p class="p-home">
							<a class="find-out" ui-sref="sniff.about">LET US TELL YOU MORE</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


