<div class="welcomeCont">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 welcomeGrid">
			<div class="jumbotron homeJumbo">
				<h2 class="welc-text">WELCOME!</h2>

				<h3 class="text-center">HOW CAN WE HELP YOU?</h3>

				<div class="btn-group btn-group-justified">
						<a class="btn btn-primary btn-looking" ui-sref="lookingForDog">I'm looking for a dog</a>
					<a class="btn btn-danger btn-looking" ui-sref="forBreeders">I'm a breeder</a>
				</div>
				<p class="let letTopHome">NOT SURE?</p>

				<p class="findOut">
					<a ui-sref="sniff.about">LET US TELL YOU MORE</a>
				</p>
			</div>
		</div>
	</div>
</div>

