<setter></setter>
<setter-ishome></setter-ishome>
<div class="home-wrapper">
	<div class="welcomeCont">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 welcomeGrid">
				<div class="jumbotron homeJumbo">
					<h2 class="welc-text">WELCOME!</h2>

					<h3 class="text-center help-text">HOW CAN WE HELP YOU?</h3>

					<div class="home-buttons">
						<div class="row">
							<div class="col-xs-6">
								<button class="btn btn-looking-wrapper btn-home" ui-sref="looking-for-dog">
									I'm looking for <br/>a dog
								</button>
							</div>
							<div class=" col-xs-6">
								<button class="btn btn-breeder-wrapper  btn-home" ui-sref="sniff.forBreeders">
									I'm a breeder
								</button>
							</div>
						</div>
					</div>
					<div class="home-links">
						<div class="col-xs-6">
							<span class="let-top">NOT SURE?</span>

							<p class="p-home">
								<a class="find-out" ui-sref="sniff.about">LET US TELL YOU MORE</a>
							</p>
						</div>
						<div class="col-xs-6 text-left">
							<ul class="social-media-container list-inline">
								<li class="sm-home">
									<a href="https://www.facebook.com" target="_blank">
										<img src="../img/social-media/facebook-16.png" alt="">
									</a>
								</li>
								<li class="sm-home">
									<a href="https://www.twitter.com" target="_blank">
										<img src="../img/social-media/twit-24.png" alt="">
									</a>
								</li>
								<li class="sm-home">
									<a href="https://www.pinterest.com" target="_blank">
										<img src="../img/social-media/pin-18.png" alt="">
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


