<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h4 class="text-center sniff-head-info">Already has a n account?</h4>

			<h3 class="text-center sniff-head">Log In to Sniffsters</h3>
			<hr/>
			<form role="form">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email"
					       class="form-control"
					       id="email"
					       name="email"
					       placeholder="Enter email"
					       ng-model="login.email">
				</div>
				<div class="form-group">
					<label for="pass">Password</label>
					<input type="password"
					       class="form-control"
					       id="pass"
					       placeholder="Password"
					       ng-model="login.pass">
				</div>
				<button class="btn btn-primary" ng-click="login.Signin(login.email, login.pass)">Login</button>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
	<div class="well">
			<h4>Login to Sniffsters with Facebook</h4>
			<section id="socialLoginForm">
				@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl =
				ViewBag.ReturnUrl })
			</section>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-xs-12">

		<p class="text-center">
			@Html.ActionLink("Login", "Login", null, new { @class = " btn btn-default" }) If you already have Sniffsters
			Account.
		</p>

	</div>
</div>
