<div ui-view>
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="edit-pencil right" ui-sref=".edit">
			</a>
		</div>
	</div>
	<h3 class="sniff-head-info">Personal Info</h3>

	<h4 class="sniff-subhead">
		First Name:
	</h4>

	<p>
		{{looker.profile.FirstName}}
	</p>

	<h4 class="sniff-subhead">
	Last Name:
	</h4>

	<p>
	{{looker.profile.LastName}}
	</p>

	<h4 class="sniff-subhead">
	Phone:
	</h4>

	<p>
	{{looker.profile.Phone}}
	</p>

	<h4 class="sniff-subhead">
	Email:
	</h4>

	<p>
	{{looker.profile.Email}}
	</p>

	<h3 class="sniff-head-info">Address</h3>

	<p>
		{{looker.profile.City}}, {{looker.profile.State}}
		{{looker.profile.Zip}}
	</p>
</div>

