<div ui-view>
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="right" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>
	</div>
	<h3 class="sniff-head-info">Personal Info</h3>

	<p>
		First Name: {{looker.profile.FirstName}}
	</p>

	<p>
		Last Name:
		{{looker.profile.LastName}}
	</p>

	<p>
		Phone:
		{{looker.profile.Phone}}
	</p>

	<p>
		Email:
		{{looker.profile.Email}}
	</p>

	<h3 class="sniff-head-info">Address</h3>

	<p>
		{{looker.profile.City}}, {{looker.profile.State}}
		{{looker.profile.Zip}}
	</p>
</div>

