<setter></setter>
<div class="home-wrapper">
	<div class="welcomeCont">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 welcomeGrid">

				<div class="jumbotron homeJumbo">
					<h2 class="welc-text text-center">GREAT,</h2>

					<h3 class="text-center help-text">LET'S FIND YOUR PUPPY!</h3>

					<div class="home-btn-wrapper">
						<form class="form-inline text-center"
						      method="get"
						      role="form">
							<input class="form-control input-search"
							       ng-model="searchBreed.val"
							       placeholder="Start typing breed"
							       ng-options="breed for breed in breeds"
							       bs-typeahead type="text">

							<input class="form-control input-search"
							       ng-model="searchLocation.val"
							       placeholder="Location"
							       ng-options="location for location in locations"
							       bs-typeahead type="text">
						</form>
						<div class="text-center btn-great-search">
							<button class="btn btn-primary" ui-sref="sniff.breeders" value="Fetch">
								<i class="fa fa-search"></i>
								Search
							</button>
						</div>

					</div>

					<div class="great-links">
						<span class="let-top">ARE YOU A BREEDER?</span>

						<p class="p-home">
							<a class="find-out" ui-sref="sniff.forBreeders" class="">FIND OUT HOW WE CAN
								HELP &raquo;</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>