<div>

	<h3 class="sniff-head-info">My Account</h3>
	<hr/>
	<h3><i class="fa fa-credit-card"></i> Billing & Payments</h3>
	<br/>
	<button class="btn btn-primary btn-sm"><i class="fa fa-clock-o"></i> Set Automatic Payments</button>
	<button class="btn btn-primary btn-sm"><i class="fa fa-dollar"></i> Make a Payment</button>
	<hr/>
	<h5 class="label label-info">You ar using autorenewal with PayPal</h5>
	<h4>My Invoices</h4>
	<h6>2 Records Found</h6>
	<table class="table table-bordered table-invoices">
		<tr>
			<th>Invoice #</th>
			<th>Date</th>
			<th>Due Date</th>
			<th>Total</th>
			<th>Status</th>
			<th>Document</th>
		</tr>
		<tr>
			<td>0000002</td>
			<td>10/01/2014</td>
			<td>10/07/2014</td>
			<td>$19.99</td>
			<td class="text-center">
				<button class="btn btn-danger btn-sm btn-invoice">
					Pay
				</button>
			</td>
			<td>
				<button class="btn btn-link btn-invoice">View Invoice</button>
			</td>
		</tr>
		<tr>
			<td>0000001</td>
			<td>10/01/2014</td>
			<td>10/07/2014</td>
			<td>$19.99</td>
			<td class="text-center"><p class="label label-success label-invoice">
				Paid </p></td>
			<td>
				<button class="btn btn-link btn-invoice">View Invoice</button>
			</td>
		</tr>
	</table>
	<br/>

	<h3><i class="fa fa-hand-o-up"></i> Manage Account</h3>
	<hr/>
	<ul class="list-unstyled">
		<li>
			<button class="btn-link">Change Subscription</button>
		</li>
		<li>
			<button class="btn-link"
			        data-toggle="tooltip" data-placement="left" title="Deactivate subscription plan"
			        data-content="{{popover.content}}"
			        data-template="../views/modals/cancel-subscription.html"
			        data-animation="am-flip-x"
			        ng-show="(subscription|orderByPriority).length"
			        bs-popover="popoverCancelSubscription">
				Deactivate Subscription
			</button>
		</li>
		<li>
			<button class="btn-link">Delete Account</button>
		</li>
	</ul>
</div>
