<div class="my-account-wrapper">
	<h3 class="sniff-head-info">My Account</h3>
	<hr/>
	<!--<h3><i class="fa fa-credit-card"></i> Billing & Payments</h3>-->
	<!--<br/>-->
	<!--<button class="btn btn-primary btn-sm"><i class="fa fa-clock-o"></i> Set Automatic Payments</button>-->
	<!--<button class="btn btn-primary btn-sm"><i class="fa fa-dollar"></i> Make a Payment</button>-->
	<!--<hr/>-->
	<!--<h5 class="label label-info">You ar using autorenewal with PayPal</h5>-->
	<!--<h4>My Invoices</h4>-->
	<!--<h6>2 Records Found</h6>-->
	<h4 class="text-center">My Subscriptions</h4>

	<div ng-show="!hasSubscription">
		You do not have any Subscription plan. To learn more about the Subscription Plans please click
		<a class="className" ui-sref="sniff.forBreeders({scroll:1})"><span class="click-here">here</span></a>.
	</div>
	<table ng-show="hasSubscription" class="table table-bordered table-invoices">
		<tr>
			<th>Plan</th>
			<th>End Date</th>
			<th>Restrictions</th>
			<th>Change Subscription</th>
		</tr>
		<tr>
			<td>{{home.subscription.name}}</td>
			<td>{{home.subscription.expirationDate | date:'mediumDate'}}</td>
			<td>
				<ul class="list-unstyled">
					<li><strong>Messages: </strong>{{home.subscription.Messages || 'unlimited'}}</li>
					<li><strong>Galleries: </strong>{{home.subscription.Galleries || 'unlimited'}}</li>
					<li><strong>Litters: </strong>{{home.subscription.Litters || 'unlimited'}}</li>
				</ul>
			</td>
			<td class="text-center change">
				<p>
					<button class="btn btn-default btn-sniff-md"
					        data-toggle="tooltip" data-placement="left" title="Deactivate subscription plan"
					        data-content="{{popover.content}}"
					        data-template="../views/modals/cancel-subscription.html"
					        data-animation="am-flip-x"
					        bs-popover="popoverCancelSubscription">
						Cancel
					</button>
				</p>
				<p>
					<button class="btn btn-primary btn-sniff-md"
					        ui-sref="sniff.forBreeders({scroll:1})">
						Upgrade
					</button>
				</p>
			</td>
		</tr>
	</table>
	<br/>

	<ul class="list-unstyled">
		<li ng-show="!home.subscription || home.subscription.name!='Annually'">
			<button class="btn btn-primary btn-sniff-md"
			        ui-sref="sniff.forBreeders({scroll:1})">Get Subscription
			</button>
		</li>
		<br/>
		<li>
			<button class="btn btn-danger btn-sniff-md"
			        data-toggle="tooltip" data-placement="left" title="Remove Sniffsters Account?"
			        data-content="{{popover.content}}"
			        data-template="../views/modals/delete-confirmation.html"
			        data-animation="am-flip-x"
			        bs-popover>
				Delete Account
			</button>
		</li>
	</ul>
</div>
