<div class="row sniff-row">
	<div class="col-xs-1 left-side"></div>
	<div class="col-xs-10">
		<message-nav-menu></message-nav-menu>

		<div class="row" ui-view>
			<div ng-show="messages.corrUsers.length==0">
				<p class="well well-sm">You do not have any messages. </p>
			</div>
			<div class="col-xs-3 aside-messages">
				<ul>
					<li class="cursor-p" ng-click="messages.SetSelectedUser($index)"
					    ng-repeat="u in messages.corrUsers">
						{{u}}
					</li>
				</ul>
			</div>
			<div class="col-xs-9">
				<ul class="list-unstyled">
					<li ng-repeat="m in messages.selectedUserMessages">

						<div ng-hide="m.amISender">
							{{messages.selectedUser}}
						</div>

						<div ng-show="m.amISender">
							Me
						</div>

						<p>
							{{m.body}}
						</p>
						<hr/>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="col-xs-1 right-side"></div>
</div>
