<div class="row">
	<div ng-show="messages.corrUsers.length==0">
		<p class="well well-sm">You do not have any messages. </p>
	</div>
	<div class="col-xs-4 aside-messages">
		<ul>
			<li class="cursor-p" ng-click="messages.SetSelectedUser($index)"
			    ng-repeat="u in messages.corrUsers">
				{{u}}
			</li>
		</ul>
	</div>
	<div class="col-xs-8">
		<ul class="list-unstyled">
			<li ng-repeat="m in messages.selectedUserMessages">

				<div ng-hide="m.amISender">
					{{messages.selectedUser}}
				</div>

				<div ng-show="m.amISender">
					Me
				</div>

				<p>
					{{m.body}}
				</p>
				<hr/>
			</li>
		</ul>
	</div>
</div>


