<div ui-view="">
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="right" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>

		<div class="col-xs-1 pull-right">
			<button class="right" ng-click="litterInfo.deleteLitter()"><i class="fa fa-trash-o light-gray"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 textLitter">
			<h3 class="sniff-head-info">
			{{litter.Title}}
			</h3>
			<hr/>
			<p>
				<strong>
					Date of Birth:
				</strong>
				{{litter.DateOfBirth|date:'MM.dd.yyyy'}}
			</p>

			<p>
				<strong>
					Amount of puppies and sex:
				</strong>
				{{litter.Puppies}}
			</p>

			<p>
				<strong>
					Color:
				</strong>
				{{litter.Colors}}
			</p>
			<ul class="list-unstyled">
				<li ng-repeat="p in litter.photos">
					<img ng-src="{{p.file64}}" alt="">
					<h5>
					{{p.caption}}
					</h5>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled">
				<li ng-repeat="p in litter.Photos">

					<div class="thumbnail">
						<img class="puppyPic"
						     ng-src="{{('imgdir/'+index.Id+'/litters/'+litter.Id+'/'+p.FilePath) | spacesToDashes}}">
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>

<!-- PUT DIRECTIVES BELOW -->

