<div ui-view="">
	<div class="text-right" ng-show="home.isOwner">
		<button class="btn btn-link"
		        ng-show="puppies.LittersNew.length"
		        ng-click="puppies.cancelLitters()">Cancel
		</button>
		<button class="btn btn-link"
		        ng-show="puppies.LittersNew.length"
		        ng-disabled="isOk"
		        ng-click="puppies.saveNewLitters()">Save
		</button>
		<button class="btn btn-link"

		        ng-disabled="!home.subscription || (home.subscription.Litters>0 && index.littersNumber>=home.subscription.Litters)"
		        ng-click="puppies.addNewLitter()">
			Add New Litter
		</button>

		<a class="btn btn-link pull-right"
		   ui-sref="user.profile.upgrade"
		   ng-show="!home.subscription || (home.subscription.Litters>0 && index.galleriesNumber>=home.subscription.Litters)">
			Start a plan
		</a>
	</div>
	<div sv-slider h="1200">
		<div ng-show="puppies.LittersNew.length>0">
			<ul class="list-unstyled">
				<li ng-repeat="l in puppies.LittersNew" class="bouncy-slide-down">
					<litter-new l="l"></litter-new>
				</li>
			</ul>
		</div>

		<h3 class="sniff-head-info">Current Litters</h3>
		<hr/>

		<h3 class="text-warning" ng-show="!(litters|orderByPriority).length">{{noLitterNotice}}</h3>

		<div class="row">
			<ul class="list-unstyled list-inline">
				<li class="col-xs-4" ng-repeat="(id,l) in litters">
					<div class="litter-wrapper">
						<a ui-sref="user.profile.puppies3.litter({id:id})" class="thumbnail">
							<div class="img-thumb-container">
								<h4 class="text-center"> {{l.Title}} </h4>
								<img class="img-thumb"
								     ng-src="{{(l.Photos|orderByPriority)[0].file64}}">
								<img class="img-thumb"
								     ng-hide="(l.Photos| orderByPriority).length"
								     ng-src="../img/avatar-lg.png">
							</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

