<div class="well">

	<form class="form-horizontal myDetailsForm" role="form" ng-submit="aboutedit.Save()">
		<h4>ABOUT</h4>

		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Kennel Name</label>
			<input class=" myDetailsInput" type="text" ng-model="aboutedit.BreederProfile.KennelName">
		</div>
		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Your Story</label><br/>
			<textarea cols="65" rows="5"class="textarea" ng-model="aboutedit.BreederProfile.Story"></textarea>
		</div>

		<h4>PARENTS</h4>

		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Parents</label><br/>
			<textarea cols="65" rows="5" class="textarea" ng-model="aboutedit.BreederProfile.Parents"></textarea>
		</div>

		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Girls</label><br/>
			<textarea cols="65" rows="5" class="textarea" ng-model="aboutedit.BreederProfile.Girls"></textarea>
		</div>
		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Boys</label><br/>
			<textarea cols="65" rows="5" class="textarea" ng-model="aboutedit.BreederProfile.Boys"></textarea>
		</div>

		<h4>ADDITIONAL INFO</h4>

		<div class="form-group myDetailsFormGroup">
			<label class="control-label" for="">Is there anything else you would like to mention?</label><br/>
			<textarea cols="65" rows="5" class="textarea" ng-model="aboutedit.BreederProfile.AddInfo"></textarea>
		</div>

		<div class="right">

			<a class="btn btn-default" ui-sref="^">Reset All Fields</a>
			<!--<button type="submit" class="btn btn-info" ui-sref="^">Reset all fields</button>-->
			<button type="submit" class="btn btn-info">Save</button>
			<a class="btn btn-info" ui-sref=".">Next Section</a>
		</div>


	</form>
</div>

