<div ui-view="">
	<div class="row">
		<div class="col-sm-1 pull-right">
			<a class="right" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>

		<div class="col-sm-1 pull-right">
			<button class="right" ng-click="puppies.deleteLitter()"><i class="fa fa-trash-o light-gray"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 textLitter">
			<h4 class="">
				{{puppies.SelectedLitter.Title}}
			</h4>
			<hr/>

			<p>
				{{puppies.SelectedLitter.DateOfBirth}}
			</p>

			<p>
				{{puppies.SelectedLitter.Puppies}}
			</p>

			<p>
				{{puppies.SelectedLitter.Colors}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
				<li ng-repeat="p in puppies.SelectedLitter.Photos">

					<div class="thumbnail">
						<img class="puppyPic"
						     ng-src="{{('imgdir/'+index.Id+'/litters/'+puppies.SelectedLitter.Id+'/'+p.FilePath) | spacesToDashes}}">
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>

<!-- PUT DIRECTIVES BELOW -->

