<div ui-view>
	<div class=" form-group text-right">
		<button class="btn btn-link"
		        ng-disabled="isOk"
		        ng-show="testimonials.FeedbacksNew.length>0"
		        ng-click="testimonials.saveNewTestimonials()">Save All
		</button>
		<button class="btn btn-link" ng-show="home.isOwner" ng-click="testimonials.addNewTestimonial()">Add New</button>
	</div>

	<div class="row" ng-show="testimonials.FeedbacksNew.length>0">
		<div class="col-xs-12">
			<ul class="list-unstyled">
				<li ng-repeat="f in testimonials.FeedbacksNew" class="bouncy-slide-down">
					<feedback-info is-owner="home.isOwner" f="f"></feedback-info>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3 class="sniff-head-info">WHAT DO YOUR CLIENTS SAY?</h3>
			<hr/>
		</div>
	</div>
	<ul class="list-unstyled">
		<li ng-repeat="(id,f) in feedbacks">
			<div class="row pull-right">
				<div class="col-xs-12">
					<a class="light-gray" ui-sref="user.profile.testimonials5.edit({id:id})">
					<i class="fa fa-pencil"></i>
					</a>
					<button class="btn btn-link text-muted"
					        ng-click="testimonials.deleteFeedback(id)">
					<i class="fa fa-times light-gray"></i>
					</button>
				</div>
			</div>
			<feedback f="f"></feedback>
		</li>
	</ul>
</div>
