<div>
	<h3 class="sniff-head-info">Photo Galleries</h3>

	<div ng-show="home.isOwner">
		<div class="row">
			<div class="col-xs-6">
			</div>

			<div class="col-xs-2">
				<button class="btn btn-link" ng-disabled="isOk" ng-click="photosCtrl.saveNewGalleries()">Save All
				</button>
			</div>
			<div class="col-xs-3">
				<button class="btn btn-link" ng-click="photosCtrl.addGallery()">Add new gallery</button>
			</div>
		</div>
		<br/>

		<ul class="list-unstyled">
			<li ng-repeat="newgal in photosCtrl.GalleriesNew">
				<photos-info new-gallery="newgal" user-name="{{index.Id}}">Gallery {{$index+1}}</photos-info>
			</li>
		</ul>
	</div>

	<div ui-view>
		<photo-galleries photos-ctrl="photosCtrl" id="{{index.Id}}"></photo-galleries>
	</div>
</div>
