<div class="well">
	<h4>KENNEL NAME</h4>
	<hr/>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, est, nesciunt. Amet aperiam at consequuntur
	cumque dolorum eaque, eos est fugiat incidunt laborum mollitia nobis obcaecati quis repellat veniam voluptatem!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, est, nesciunt. Amet aperiam at consequuntur
	cumque dolorum eaque, eos est fugiat incidunt laborum mollitia nobis obcaecati quis repellat veniam voluptatem!

	<br/>

	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque fugiat labore perferendis quaerat
		quia quisquam tempora ut veritatis vitae! At atque in ipsa maiores nulla placeat quas saepe ut.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda delectus deleniti eaque eum odit
		recusandae repellat repellendus voluptas voluptatum? Aliquid dolore dolorum, id iste maxime numquam odio placeat
		tenetur.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
	<hr/>
	<h4>PARENTS</h4>
	<hr/>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, est, nesciunt. Amet aperiam at consequuntur
	cumque dolorum eaque, eos est fugiat incidunt laborum mollitia nobis obcaecati quis repellat veniam voluptatem!
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, est, nesciunt. Amet aperiam at consequuntur
	cumque dolorum eaque, eos est fugiat incidunt laborum mollitia nobis obcaecati quis repellat veniam voluptatem!

	<br/>

	<h4>Girls</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<h4>Boys</h4>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque fugiat labore perferendis quaerat
		quia quisquam tempora ut veritatis vitae! At atque in ipsa maiores nulla placeat quas saepe ut.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda delectus deleniti eaque eum odit
		recusandae repellat repellendus voluptas voluptatum? Aliquid dolore dolorum, id iste maxime numquam odio placeat
		tenetur.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<h4>ADDITIONAL INFO</h4>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequatur cumque delectus deleniti
		dignissimos excepturi fugit in ipsa libero maiores, nemo officiis placeat qui quisquam repellat similique
		sint totam voluptate?</p>

	<div class="right">
		<button type="submit" class="btn btn-info">Reset all fields</button>
		<button type="submit" class="btn btn-info">Save</button>
		<button class="btn btn-info" ui-sref="profile">Next Section</button>
	</div>

	<div ui-view="info"></div>

</div>
