<div ui-view="">
	<div class="row">
		<div class="col-xs-1 pull-right">
			<a class="right" ui-sref=".edit"><i class="fa fa-pencil light-gray"></i></a>
		</div>

		<div class="col-xs-1 pull-right">
			<button class="right" ng-click="puppies.deleteLitter()"><i class="fa fa-trash-o light-gray"></i></button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 textLitter">
			<h4 class="sniff-head-sm">
				{{litter.Title}}
			</h4>
			<hr/>

			<p>
				{{litter.DateOfBirth|date:'MM.dd.yyyy'}}
			</p>

			<p>
				{{litter.Puppies}}
			</p>

			<p>
				{{litter.Colors}}
			</p>
			<ul class="list-unstyled">
				<li ng-repeat="p in litter.photos">
					<img ng-src="{{p.file64}}" alt="">

					<p>
						{{p.caption}}
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled">
				<li ng-repeat="p in litter.Photos">

					<div class="thumbnail">
						<img class="puppyPic"
						     ng-src="{{('imgdir/'+index.Id+'/litters/'+litter.Id+'/'+p.FilePath) | spacesToDashes}}">
					</div>

				</li>
			</ul>
		</div>
	</div>
</div>

<!-- PUT DIRECTIVES BELOW -->

