<div>
	<h3 class="sniff-head-info">Photo Galleries</h3>

	<div ng-show="home.isOwner">
		<div class="row">
			<div class="col-xs-6">
			</div>

			<div class="col-xs-2">
				<button class="btn btn-link" ng-click="photosCtrl.saveNewGalleries()">Save All
				</button>
			</div>
			<div class="col-xs-3">
				<button class="btn btn-link" ng-click="photosCtrl.addGallery()">Add new gallery</button>
			</div>
		</div>
		<br/>
		<hr/>
		<ul class="list-unstyled">
			<h3>Shared Galleries</h3>
			<li ng-repeat="(id,g) in galleries|orderByPriority|unshared:false">


				<ul class="list-unstyled">
					<li ng-repeat="(pid,p) in g.photos">
						<img ng-src="{{p.file64}}" class="img-responsive">

						<p>{{p.caption}}</p>

					</li>
				</ul>
				<hr/>
				<h4>{{g.Title}}</h4>

			</li>
		</ul>
		<hr/>
		<h3>Temporary Galleries</h3>
		<ul class="list-unstyled">
			<li ng-repeat="(galleryid,g) in galleries|orderByPriority|unshared:true">

				<ul class="list-unstyled">
					<li ng-repeat="(pid,p) in g.photos">
						<img ng-src="{{p.file64}}" class="img-responsive">
						<input type="text" ng-model="p.caption" placeholder="photo caption"/>

					</li>
				</ul>
				<hr/>
				<input type="text" ng-model="g.Title" placeholder="gallery title"/>

				<div class="panel panel-default panel-file-upload">
					<div class="row">
						<div class="col-xs-12">
							<h6 class="textMuted">Photo 3MB max JPG, PNG, GIF </h6>

							<div class="text-center dropFilesHere"
							     ng-file-drop="onFileNewSelect($files)"
							     ng-file-drag-over-class="optional-css-class"
							     ng-show="dropSupported">
								<img class="dragPhotosImg" src="../../img/photo-icon.png" alt="Photo Icon">

								<h5 class="drag-photos"> drag photos here </h5>
							</div>
						</div>
					</div>
					<br/>

					<div class="row">
						<div class="col-xs-12 text-center">
							<div ng-file-drop-available="dropSupported=true"
							     ng-show="!dropSupported">HTML5 Drop File is not supported!
							</div>
							<label ng-class="{'text-muted':!newLitterForm}" class="fileContainer">
								<button class="btn btn-primary btn-choose">
									<!--ng-disabled="newLitterForm.$invalid"-->
									Choose Files
								</button>
								<input class="chooseFilesButton" type="file"
								       ng-file-select="onNewFileSelect($files, galleryid)" multiple/>
							</label>
						</div>
					</div>
				</div>
			</li>
		</ul>


	</div>

</div>
