<div class="row sniff-row">
	<div class="col-xs-1 left-side"></div>
	<div class="col-xs-10">
		<breeder-profile-nav></breeder-profile-nav>
		<!--<breeder-profile-nav ng-hide="home.hideMenu"></breeder-profile-nav>-->
		<message-nav-menu></message-nav-menu>
		<div class="row">
			<div class="col-xs-2 content-wrapper" ng-show="home.isOwner">
				<user-profile-nav></user-profile-nav>
			</div>
			<div class="col-xs-7" ui-view>

			</div>

			<div class="col-xs-3 content-wrapper profile-aside">
				<breeder-details ctrl="index"></breeder-details>
				<current-litters></current-litters>
				<previous-puppies>Our Previous Puppies</previous-puppies>
			</div>
		</div>
	</div>
	<div class="col-xs-1 right-side"></div>
</div>

