<div class="row">
	<div class="col-sm-6">
		<ul class="nav nav-pills">
			<li ng-class="{'active':index.url=='about'}"><a ui-sref="profile.about">About</a></li>
			<li ng-class="{'active':index.url=='photos'}"><a ui-sref="profile.photos">Photos</a></li>
			<!--<li ng-class="{'active':index.url=='puppies'}"><a ui-sref="profile.puppies">Puppies</a></li>-->
			<!--<li ng-class="{'active':index.url=='details'}"><a ui-sref="profile.details">Details</a></li>-->
			<!--<li ng-class="{'active':index.url=='testimonials'}"><a ui-sref="profile.testimonials">Testimonials</a></li>-->
		</ul>

		<br/>
		<div ng-hide="index.spinner" ui-view></div>
		<spin-div ng-show="index.spinner"></spin-div>
	</div>
	<div class="col-sm-4">
	<breeder-details ctrl = "index"></breeder-details>
		<litters>Litters</litters>
		<previous-puppies>Our Previous Puppies</previous-puppies>
	</div>
</div>



