<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h4 class="text-center sniff-head-info">Please Register for a Sniffsters Account</h4>
			<hr/>
			<form role="form" name="form" id="form" novalidate>
				<div class="form-group has-feedback"
				     ng-class="{'has-error':form.email.$dirty && form.email.$invalid}">
					<label for="email">Email address</label>
					<input type="email"
					       class="form-control"
					       id="email"
					       name="email"
					       placeholder="Enter email"
					       ng-model="email"
					       required>
				</div>
				<div class="form-group has-feedback"
				     ng-class="{'has-error':(form.pass.$dirty && form.pass.$invalid)}">
					<label for="pass">Password</label>
					<span class="textMuted">More then 6 symbols</span>
					<input type="password"
					       class="form-control"
					       id="pass"
					       name="pass"
					       ng-minlength="6"
					       placeholder="Password"
					       ng-model="pass"
					       ng-required>
				</div>
				<div class="form-group has-feedback"
				     ng-class="{'has-error':(form.confpass.$dirty && form.confpass.$invalid)}">
					<label for="confpass">Confirm Password</label>
					<input type="password"
					       class="form-control"
					       sv-pw-check="pass"
					       ng-minlength="6"
					       id="confpass"
					       name="confpass"
					       placeholder="Password"
					       ng-model="confpass"
					       required>
				</div>

				<div class="form-group">
					<input id="breeder" ng-required="" type="radio" ng-model="isBreeder" ng-value=true> Looking for a
					home for my dogs <br/>
					<input id="looker" ng-required="" type="radio" ng-model="isBreeder" ng-checked="1" ng-value=false>
					Looking for a dog <br/>
				</div>

				<input type="submit" class="btn btn-info"

				       value="Register"
				       ng-disabled="form.$invalid"
				       ng-click="register(email,pass,confpass,isBreeder)"/>

			</form>
			<hr/>
			<h4 class="h-sign-up">Log In if You Already have a Sniffsters Account</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h4 class="text-center sniff-head-sm">Log In to Sniffsters with Facebook</h4>

			<div id="socialLoginForm" class="text-center">
				<button class="btn btn-primary btn-facebook-login" ng-click="home.FacebookSignin()">
					<i class="fa fa-facebook"></i>
					Log In
				</button>
			</div>
		</div>
	</div>

</div>

