<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h4 class="text-center sniff-head-info">Please Register for a Sniffsters Account</h4>
			<hr/>
			<form role="form">
				<div class="form-group">
					<label for="email">Email address</label>
					<input type="email"
					       class="form-control"
					       id="email"
					       name="email"
					       placeholder="Enter email"
					       ng-model="register.email">
				</div>
				<div class="form-group">
					<label for="pass">Password</label>
					<input type="password"
					       class="form-control"
					       id="pass"
					       placeholder="Password"
					       ng-model="register.pass">
				</div>
				<div class="form-group">
					<label for="pass">Confirm Password</label>
					<input type="password"
					       class="form-control"
					       id="confirm-pass"
					       placeholder="Password"
					       ng-model="register.confpass">
				</div>

				<div class="form-group">
					<input type=""
					       class="form-control"
					       id="confirm-pass"
					       placeholder="Password"
					       ng-model="register.confpass">
				</div>

				<button class="btn btn-default"
				        ng-click="home.Register(register.email,register.pass,register.confpass)">Register
				</button>
			</form>
			<hr/>
			<h4 class="h-sign-up">Log In if You Already have a Sniffsters Account</h4>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="well">
			<h4 class="text-center sniff-head-sm">Log In to Sniffsters with Facebook</h4>

			<div id="socialLoginForm" class="text-center">
				<button class="btn btn-primary btn-facebook-login">
					<i class="fa fa-facebook"></i>
					Log In
				</button>
			</div>
		</div>
	</div>

</div>

