<div class="row sniff-content-wrapper">
	<div class="col-xs-8">
		<div class="sniff-main-content" ui-view></div>
	</div>

	<div class="col-xs-4">
		<div class="thumbnail thPicture">
			<img src="img/french.jpg" alt="...">
		</div>
		<div class="alert alert-warning alert-breed">
			<div class="caption">
				<h3>
					<em>French Buldog</em>
				</h3>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id
				sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        <span>
            <a class="text-muted" target="_blank" href="http://en.wikipedia.org/wiki/French_Bulldog">Wikipedia</a>
        </span>
				<hr/>

				<ul class="list-unstyled">
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>
					</li>
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>
					</li>
					<li>
						Lorem <strong>ipsum dolor </strong>sit amet, consectetur adipiscing elit fusce vel sapien elit
						in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel
						pretium tellus.
					</li>
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>

					</li>
				</ul>
			</div>
		</div>

		<br/>

		<div class="thumbnail thPicture">
			<img src="img/bul.jpg" alt="...">
		</div>
		<div class="caption">
			<h4 class="text-primary text-right">
				<a class="alert alert-warning alert-galleryButton" href="http://">
					gallery
				</a>
			</h4>
		</div>
		<br/>

		<br/>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">----</h3>
			</div>
			<div class="panel-body text-center panelMonth">
        <span class="monthName">
            <strong>
	            April
            </strong>
        </span>

				<p class="meet-ups">
					<a href="#">
						Meet ups in your area >>
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
