<div class="row sniff-row">
<div class="col-xs-1 left-side"></div>
	<div class="col-xs-7 sniff-content-wrapper">
		<div class="sniff-main-content" ui-view></div>
	</div>

	<div class="col-xs-3  sniff-content-wrapper">
		<div class="alert alert-warning sniff-alert">
			<div class="thumbnail th-pic">
				<img src="img/french.jpg" alt="...">
			</div>
			<div class="caption">
				<h3> French Buldog </h3>

				<p class="">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper
					mi, id
					sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
				<a class="text-muted" target="_blank" href="http://en.wikipedia.org/wiki/French_Bulldog">Wikipedia</a>
				<hr/>
				<ul class="list-unstyled">
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>
					</li>
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>
					</li>
					<li>
						Lorem <strong>ipsum dolor </strong>sit amet, consectetur adipiscing elit fusce vel sapien elit
						in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel
						pretium tellus.
					</li>
					<li>
						<strong>Lorem ipsum dolor:</strong>
						<small>sit amet</small>

					</li>
				</ul>
			</div>
		</div>

		<br/>

		<div class="thumbnail thPicture text-center">
			<img src="img/pow.png" alt="...">
			<br/>
		</div>
		<div class="caption">
			<h4 class="text-primary text-right">
				<a class="alert alert-warning alert-galleryButton" href="http://">
					gallery
				</a>
			</h4>
		</div>
		<br/>

		<br/>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">----</h3>
			</div>
			<div class="panel-body text-center panelMonth">
				<br/>
				<span class="monthName">April</span>

				<p class="meet-ups">
					<a href="#">
						Meet ups in your area >>
					</a>
				</p>
				<br/>
			</div>
		</div>
	</div>

	<div class="col-xs-1 right-side"></div>
</div>
