<div>
	<ul class="nav nav-tabs" id="usersTab" role="tablist">
		<li class="active"><a href="#breeders" role="tab" data-toggle="tab">Breeders</a></li>
		<li class=""><a href="#lookers" role="tab" data-toggle="tab">Lookers</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="breeders">
			<div class="users-tab-content">
				<table class="table-responsive table-striped user-table-content">
					<tr ng-repeat="b in management.breeders">
						<th>
							{{b.profile.KennelName}}
						</th>

						<td>
							{{b.profile.City}}, {{b.profile.State}}
						</td>

						<td>
							{{b.profile.Phone}}
						</td>

						<td class="text-info">
							{{b.profile.Email}}
						</td>

						<td class="text-muted">
							{{b.profile.Website}}
						</td>

						<td class="admin-contact">
							<button class="btn btn-default btn-sm">
								Contact
							</button>
						</td>

						<td>
							<button class="btn btn-primary btn-sm">
								Subscriptions
							</button>
						</td>

						<td>
							<button class="btn btn-warning btn-sm">
								Block
							</button>
						</td>

						<td>
							<button class="btn btn-danger btn-sm">
								Delete
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="tab-pane fade" id="lookers">
			<div class="users-tab-content">
				<table class="table-responsive table-striped user-table-content">
					<tr ng-repeat="l in management.lookers">
						<th>
							{{l.profile.FirstName}} {{l.profile.LastName}}
						</th>

						<td>
							{{l.profile.City}}, {{l.profile.State}}
						</td>

						<td>
							{{l.profile.Phone}}
						</td>

						<td class="text-info">
							{{l.profile.Email}}
						</td>

						<td class="text-muted">
							{{l.profile.Website}}
						</td>

						<td class="admin-contact">
							<button class="btn btn-default btn-sm">
								Contact
							</button>
						</td>

						<td>
							<button class="btn btn-primary btn-sm">
								Subscriptions
							</button>
						</td>

						<td>
							<button class="btn btn-warning btn-sm">
								Block
							</button>
						</td>

						<td>
							<button class="btn btn-danger btn-sm">
								Delete
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- PUT DIRECTIVES BELOW -->
</div>

<script>
	$('#usersTab a').click(function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>